Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix: revert back to plex stable
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.2.3
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(container): update immich group to v1.82.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.700
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.61.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update actions/checkout action to v4.1.1
  .github/workflows/broken-link-check.yaml
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(helm): update chart loki to 5.32.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: renovate grafana.net dashboards
  .github/labels.yaml
  .github/renovate.json5
  .github/renovate/commitMessage.json5
  .github/renovate/customDatasources.json5
  .github/renovate/customManagers.json5
  .github/renovate/labels.json5
  .github/renovate/packageRules.json5
  .github/renovate/semanticCommits.json5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore Update dashboard MinIO Dashboard to revision 24
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore Update dashboard Node Exporter Full to revision 32
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: update commit msg on grafana dashboards
  .github/renovate/semanticCommits.json5
Labels: area/github

fix: update commit msg on grafana dashboards
  .github/renovate/semanticCommits.json5
Labels: area/github

fix(container): update image kube-prometheus-stack to v51.9.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore: renovate grafana dashboards
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: renovate grafana dashboards (#6223)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.17.0
  terraform/kubernetes/cloudflare/.terraform.lock.hcl
  terraform/kubernetes/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart reloader to 1.0.44
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.33.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible-lint to 6.21.0
  requirements.txt
Labels: none

fix: update immich web for websocket support
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.34.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: none

fix(helm): update chart grafana to 6.61.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.82.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix: remove hass for migration to v2
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: convert hass to app template v2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/app/patches/addons.yaml
  kubernetes/apps/default/home-assistant/app/pvc.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
Labels: area/kubernetes

feat: enable hass
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: enable hass
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: hass vols
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: hass ingress
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(deploy): code-server for hass
  kubernetes/apps/default/home-assistant/code/gatus.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
  kubernetes/apps/default/home-assistant/code/kustomization.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.3
  ansible/kubernetes/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix: add cacheAccessModes to volsync config
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.9.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.5
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.35.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
