Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.5.4
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

update qbittools config
  kubernetes/apps/default/qbittorrent/tools/manage/config/config.yaml
Labels: area/kubernetes

remove not-working tag
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image prometheus-snmp-exporter to v1.8.1
  kubernetes/apps/monitoring/snmp-exporter/app/apc-ups/helmrelease.yaml
  kubernetes/apps/monitoring/snmp-exporter/app/dell-idrac/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.1
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.81.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.16.0
  terraform/kubernetes/cloudflare/.terraform.lock.hcl
  terraform/kubernetes/cloudflare/main.tf
Labels: area/terraform

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-13
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.2
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kube-vip/kube-vip to v0.6.3
  ansible/kubernetes/playbooks/templates/kube-vip-static-pod.yaml.j2
Labels: area/ansible

fix(helm): update chart reloader to 1.0.42
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart coredns to 1.27.1
  ansible/kubernetes/playbooks/templates/custom-coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

feat(helm): update chart loki to 5.24.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update immich group to v1.81.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-state-metrics to v5.14.0
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.0
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.7
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to e4ef27c
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.26.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/kiwigrid/k8s-sidecar to v1.25.2
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to b0a925c
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.1.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.3.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.5
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 4353810
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to b4f4688
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 78f7bbd
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 4f3aefd
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to e2dac9b
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to ddc32d9
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to f416d9c
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 892d823
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to aed43bf
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/jbops to b84e50a
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 700098c
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to 3c2281d
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 740f7e9
  .github/workflows/publish-docs.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
