Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix: update volsync taskfile
  .taskfiles/VolSync/Taskfile.yaml
Labels: none

fix: remove stargz from k3s
  ansible/main/inventory/group_vars/master/main.yaml
Labels: area/ansible

fix(rtlamr2mqtt): update secret names
  kubernetes/apps/default/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
Labels: area/kubernetes

fix(actions-runner-controller): update secret names
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(alertmanager): update secret names
  kubernetes/apps/monitoring/kube-prometheus-stack/app/config/alertmanager.yaml
Labels: area/kubernetes

fix(atuin): update secret names
  kubernetes/apps/default/atuin/app/externalsecret.yaml
Labels: area/kubernetes

fix(bind): update secret names
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/bind/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/bind/helmrelease.yaml
  storage/apps/networking/external-dns/app/bind/externalsecret.yaml
  storage/apps/networking/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes

chore(flux): update secret names
  kubernetes/apps/flux-system/addons/app/notifications/github/externalsecret.yaml
  kubernetes/apps/flux-system/addons/app/webhooks/github/externalsecret.yaml
Labels: area/kubernetes

chore(frigate): update secret names
  kubernetes/apps/default/frigate/app/externalsecret.yaml
Labels: area/kubernetes

chore(hass): update secret names
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
Labels: area/kubernetes

chore(lldap): update secret names
  kubernetes/apps/default/lldap/app/externalsecret.yaml
Labels: area/kubernetes

chore(maxmind): update secret names
  kubernetes/apps/monitoring/vector/app/aggregator/externalsecret.yaml
  kubernetes/apps/networking/nginx/external/externalsecret.yaml
Labels: area/kubernetes

chore(miniflux): update secret names
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
Labels: area/kubernetes

chore(mosquitto): update secret names
  kubernetes/apps/default/frigate/app/externalsecret.yaml
  kubernetes/apps/default/mosquitto/app/externalsecret.yaml
  kubernetes/apps/default/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
Labels: area/kubernetes

chore(plex): update secret names
  kubernetes/apps/default/plex/tools/off-deck/externalsecret.yaml
Labels: area/kubernetes

chore(radarr): update secret names
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/externalsecret.yaml
Labels: area/kubernetes

chore(sabnzbd): update secret names
  kubernetes/apps/default/sabnzbd/app/externalsecret.yaml
Labels: area/kubernetes

chore(shlink): update secret names
  kubernetes/apps/default/shlink/app/externalsecret.yaml
Labels: area/kubernetes

chore(smtp-relay): update secret names
  kubernetes/apps/default/smtp-relay/app/config/maddy.conf
  kubernetes/apps/default/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(smtp-relay): update secret names
  kubernetes/apps/default/smtp-relay/app/config/maddy.conf
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
Labels: area/kubernetes

chore(smtp-relay): update secret names
  kubernetes/apps/default/smtp-relay/app/config/maddy.conf
Labels: area/kubernetes

chore(sonarr): update secret names
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
Labels: area/kubernetes

chore(arr): update secret names
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
Labels: area/kubernetes

chore(autobrr): update secret names
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
Labels: area/kubernetes

chore(zigbee2mqtt): update secret names
  kubernetes/apps/default/zigbee2mqtt/app/externalsecret.yaml
Labels: area/kubernetes

chore: hack on bootstrap
  kubernetes/flux/vars/kustomization.yaml
Labels: area/kubernetes

chore(wego): update secret names
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
Labels: area/kubernetes

chore(sabnzbd): update secret names
  kubernetes/apps/default/sabnzbd/app/externalsecret.yaml
Labels: area/kubernetes

chore: hack on bootstrap
  kubernetes/flux/vars/kustomization.yaml
  storage/flux/vars/kustomization.yaml
Labels: area/kubernetes

chore(grafana): update secret names
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

chore(grafana): update secret names
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

chore(cloudflared): update secret names
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
Labels: area/kubernetes

chore(cloudflare): update secret names
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/issuers.yaml
  kubernetes/apps/networking/external-dns/app/cloudflare/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
  storage/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  storage/apps/cert-manager/cert-manager/issuers/issuers.yaml
  terraform/main/cloudflare/providers.tf
  terraform/main/cloudflare/records.tf
Labels: area/kubernetes, area/terraform

chore(autheli): update secret names
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

chore(tf-controller): update secret names
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
Labels: area/kubernetes

chore(tf-controller): update secret names
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
Labels: area/kubernetes

chore(tf-controller): update secret names
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
Labels: area/kubernetes

chore(tf-controller): update secret names
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
  terraform/main/cloudflare/.terraform.lock.hcl
Labels: area/kubernetes, area/terraform

chore: suspend tf
  kubernetes/apps/flux-system/tf-controller/terraforms/kustomization.yaml
Labels: area/kubernetes

feat: system-upgrade-controller as helm release in storage cluster
  storage/apps/kube-system/kustomization.yaml
  storage/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  storage/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  storage/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  storage/apps/kube-system/system-upgrade-controller/ks.yaml
  storage/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  storage/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  storage/apps/kube-system/system-upgrade-controller/plans/server.yaml
  storage/apps/system-upgrade/kustomization.yaml
  storage/apps/system-upgrade/namespace.yaml
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
