Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/renovate, area/scripts, area/talos

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - ".renovate/**/*"
          - ".renovaterc.json5"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"

chore: just fuck my shit up
  kubernetes/.justfile
Labels: area/kubernetes

chore: just fuck my shit up
  bootstrap/.justfile
  kubernetes/.justfile
Labels: area/bootstrap, area/kubernetes

chore: just fuck my shit up
  .justfile
  kubernetes/.justfile
  talos/.justfile
Labels: area/kubernetes, area/talos

chore: just fuck my shit up
  .editorconfig
  .gitattributes
  .justfile
  bootstrap/.justfile
  kubernetes/.justfile
  talos/.justfile
Labels: area/bootstrap, area/kubernetes, area/talos

chore: just fuck my shit up
  .editorconfig
Labels: none

chore: just fuck my shit up
  .editorconfig
  .gitattributes
  .just/bootstrap.justfile
  .just/kubernetes.justfile
  .just/talos.justfile
  .justfile
Labels: none

chore: just fuck my shit up
  .just/bootstrap.justfile
Labels: none

chore: just fuck my shit up
  .editorconfig
  .gitattributes
  .just/bootstrap.just
  .just/imports/deps.just
  .just/kubernetes.just
  .just/talos.just
  .justfile
Labels: none

chore: just fuck my shit up
  .just/bootstrap.just
  .just/imports/common.just
  .just/kubernetes.just
  .just/talos.just
Labels: none

chore: just fuck my shit up
  .just/bootstrap.just
  .just/imports/common.just
Labels: none

chore: update package names in Talos Group configuration
  .renovate/groups.json5
Labels: area/renovate

chore: just fuck my shit up
  .just/kube.just
  .justfile
Labels: none

chore: just fuck my shit up
  .justfile
Labels: none

chore: swap all HR to use OCI
  .just/bootstrap.just
  .just/imports/common.just
  .just/kube.just
  .just/talos.just
Labels: none

chore: swap all HR to use OCI
  .just/bootstrap.just
  .just/kube.just
  .just/talos.just
Labels: none

chore: justfiling
  .just/kube.just
  .just/talos.just
Labels: none

chore: justfiling
  .just/bootstrap.just
  .just/kube.just
  .just/talos.just
Labels: none

chore: justfiling
  .just/kube.just
  .just/sync.just
  .justfile
Labels: none

chore: justfiling
  .gitignore
  .just/bootstrap.just
  .just/kube.just
  .just/sync.just
  .just/talos.just
  .mise.toml
Labels: none

chore: justfiling
  .just/bootstrap.just
  .just/kube.just
  .just/sync.just
  .just/talos.just
  .justfile
  scripts/bootstrap.sh
  scripts/render-machine-config.sh
Labels: area/scripts

chore: justfiling
  .just/bootstrap.just
  .just/talos.just
Labels: none
