Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat: deploy rabbit cluster
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/database/rabbitmq/cluster/kustomization.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat(container): update image rabbitmq-cluster-operator to v3.10.3
  kubernetes/apps/database/rabbitmq/app/helmrelease.yaml
Labels: area/kubernetes

fix: swap lbips between rabbit and mosquitto
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix: swap lbips between rabbit and mosquitto
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump rabbitmq version to 3.13.0-rc.2
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
Labels: area/kubernetes

feat: undeploy rabbit cluster
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: deploy rabbit cluster woth 3.13 rc
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: undeploy rabbit cluster
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: deploy rabbit cluster with 3.12.8
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image app-template to v2.1.1
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.719
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: undeploy rabbit cluster with 3.12.8
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/rabbitmq/app/externalsecret.yaml
  kubernetes/apps/database/rabbitmq/app/kustomization.yaml
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: deploy rabbit cluster with 3.12.8
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: undeploy rabbit cluster with 3.12.8
  kubernetes/apps/database/rabbitmq/app/kustomization.yaml
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: deploy rabbit cluster with 3.13 RC
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: use management flavor of rabbit image
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
Labels: area/kubernetes

feat: undeploy rabbit cluster with 3.13
  kubernetes/apps/database/rabbitmq/app/kustomization.yaml
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

feat: deploy rabbit cluster with 3.13
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes

fix: swap frigate to rabbitmq
  kubernetes/apps/default/frigate/app/config/config.yml
Labels: area/kubernetes

fix: disable allow_anonymous for rabbit
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
Labels: area/kubernetes

fix: swap z2m to rabbitmq
  kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix: swap z2m to mosquitto
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

fix: swap frigate to mosquitto
  kubernetes/apps/default/frigate/app/config/config.yml
Labels: area/kubernetes

feat: archive rabbitmq
  archive/kubernetes/apps/database/rabbitmq/app/externalsecret.yaml
  archive/kubernetes/apps/database/rabbitmq/app/helmrelease.yaml
  archive/kubernetes/apps/database/rabbitmq/app/kustomization.yaml
  archive/kubernetes/apps/database/rabbitmq/cluster/cluster.yaml
  archive/kubernetes/apps/database/rabbitmq/cluster/kustomization.yaml
  archive/kubernetes/apps/database/rabbitmq/ks.yaml
  kubernetes/apps/database/kustomization.yaml
Labels: area/kubernetes

feat(container): update image app-template to v2.2.0
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update community.sops to 1.6.7
  requirements.yaml
Labels: none

feat(ansible): update community.general to 7.5.1
  requirements.yaml
Labels: none

feat(ansible)!: Update community.general to 8.0.1
  requirements.yaml
Labels: none

chore: remove ghcr login for flux local workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: deploy pg v16 cluster
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

feat: cutover to pg v16 cluster
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

feat: cutover to pg v16 cluster
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

feat: migrate svc names for apps
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/autobrr/app/externalsecret.yaml
  kubernetes/apps/default/home-assistant/app/externalsecret.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/externalsecret.yaml
  kubernetes/apps/default/miniflux/app/externalsecret.yaml
  kubernetes/apps/default/prowlarr/app/externalsecret.yaml
  kubernetes/apps/default/radarr/app/externalsecret.yaml
  kubernetes/apps/default/shlink/app/externalsecret.yaml
  kubernetes/apps/default/sonarr/app/externalsecret.yaml
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
  kubernetes/apps/monitoring/grafana/app/externalsecret.yaml
Labels: area/kubernetes

feat: clean up old pg cluster
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.720
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-11-11t08-14-41z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.3.8246
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-state-metrics to v5.15.2
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump kube version in kubeconform script
  .github/scripts/kubeconform.sh
Labels: area/github
