Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix: use ns in taskfile templates too
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
Labels: none

chore: improve calver release script
  .github/workflows/release.yaml
Labels: area/github

fix(container): update image ghcr.io/unpoller/unpoller to v2.9.4
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump cross-seed version and disable api auth
  kubernetes/apps/default/cross-seed/app/config/config.js
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.14.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible-lint to 6.22.0
  requirements.txt
Labels: none

feat(container): update image docker.io/timberio/vector to v0.34.0
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  terraform/storage/apps/app_vector_agent.tf
Labels: area/kubernetes, area/terraform

chore(deps): update ansible to 8.6.0
  requirements.txt
Labels: none

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.8.1
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update micalevisk/last-issue-action action to v2.2.1
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v40.1.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image quay.io/minio/minio to release.2023-11-06t22-26-08z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

fix(helm): update chart reloader to 1.0.51
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.2.2
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.14.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: deploy scrapeconfig for kube-vip
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kube-vip.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
Labels: area/kubernetes

feat(container): update image kube-state-metrics to v5.15.0
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.14.2
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.34
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image redis to v18.3.0
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.3.1
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-state-metrics to v5.15.1
  kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
Labels: area/kubernetes

chore: pin base64-to-file action to semver
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore: update helm repo sync workflow
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix: set a low refreshInterval on es that have templates
  kubernetes/apps/default/cross-seed/app/externalsecret.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/externalsecret.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 6ed3fb4
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update timheuer/base64-to-file action to v1.2.4
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to effdedc
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible to 8.6.1
  requirements.txt
Labels: none

fix(container): update image redis to v18.3.2
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

autobrr test image
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

Update frignet to latest version
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.717
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: move 1password connect back to cluster
  archive/kubernetes/apps/kube-system/external-secrets/ks.yaml
  archive/kubernetes/apps/kube-system/external-secrets/stores/kustomization.yaml
  archive/kubernetes/apps/kube-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  archive/kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/secret.sops.yaml
  kubernetes/apps/kube-system/external-secrets/stores/secret.sops.yaml
Labels: area/kubernetes

fix: update bjw-s charts repo name in 1pass hr
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix: change 1pass config dir
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix: change 1pass config vol name
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.3.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image thanos to v12.15.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy rabbit cluster operator
  kubernetes/apps/database/rabbitmq/app/helmrelease.yaml
  kubernetes/apps/database/rabbitmq/app/kustomization.yaml
  kubernetes/apps/database/rabbitmq/ks.yaml
Labels: area/kubernetes
