Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix(helm): update chart grafana to 7.0.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy populator-test sts test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test sts test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
Labels: area/kubernetes

feat: add flux ssa annotation to pvc
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
Labels: area/kubernetes

feat: add flux ssa annotation to pvc
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
Labels: area/kubernetes

feat: deploy populator-test as sts with vct
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test without extra ks
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to d868ed0
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(terraform): update terraform cloudflare to 4.19.0
  terraform/kubernetes/cloudflare/.terraform.lock.hcl
  terraform/kubernetes/cloudflare/main.tf
Labels: area/terraform

fix(helm): update chart grafana to 7.0.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
  kubernetes/apps/default/populator-test/bootstrap/kustomization.yaml
  kubernetes/apps/default/populator-test/bootstrap/volsync.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/kustomization.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.6
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test2
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test2/app/helmrelease.yaml
  kubernetes/apps/default/populator-test2/app/kustomization.yaml
  kubernetes/apps/default/populator-test2/app/volsync.yaml
  kubernetes/apps/default/populator-test2/ks.yaml
Labels: area/kubernetes

feat: remove populator-test2
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test2/app/helmrelease.yaml
  kubernetes/apps/default/populator-test2/app/kustomization.yaml
  kubernetes/apps/default/populator-test2/app/volsync.yaml
  kubernetes/apps/default/populator-test2/ks.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
Labels: area/kubernetes

feat(container): update image prometheus-node-exporter to v4.24.0
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test with pvc size differences
  kubernetes/apps/default/populator-test/app/volsync.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.52
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.2
  .github/workflows/renovate.yaml
Labels: area/github

feat: deploy populator-test with new ks name
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

feat: deploy populator-test with prune set back to true
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

fix: disable prune on arc
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes

fix: rename and enable prune on arc
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes

fix: disable prune on cm
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
