Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/github, area/kubernetes, area/renovate, area/talos

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file:
          - bootstrap/**/*

area/github:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*

area/kubernetes:
  - changed-files:
      - any-glob-to-any-file:
          - kubernetes/**/*

area/renovate:
  - changed-files:
      - any-glob-to-any-file:
          - .renovate/**/*
          - .renovaterc.json5

area/talos:
  - changed-files:
      - any-glob-to-any-file:
          - talos/**/*

chore: add yamlfmt
  kubernetes/apps/default/cross-seed/app/lokirule.yaml
  kubernetes/apps/default/prowlarr/app/lokirule.yaml
  kubernetes/apps/default/radarr/app/lokirule.yaml
  kubernetes/apps/default/sonarr/app/lokirule.yaml
Labels: area/kubernetes

chore: add yamlfmt
  kubernetes/apps/default/recyclarr/app/resources/recyclarr.yml
Labels: area/kubernetes

chore: add yamlfmt
  kubernetes/apps/default/webhook/app/resources/hooks.yaml
Labels: area/kubernetes

chore: add yamlfmt
  kubernetes/apps/network/cloudflare-tunnel/app/resources/config.yaml
  kubernetes/apps/observability/kromgo/app/resources/config.yaml
Labels: area/kubernetes

chore: add yamlfmt
  .vscode/extensions.json
Labels: none

chore: add yamlfmt
  .lefthook.yaml
  .yamlfmt.yaml
Labels: none

chore: add yamlfmt
  .lefthook.yaml
Labels: none

chore: add yamlfmt
  .mise.toml
  .yamlfmt.yaml
Labels: none

chore: add yamlfmt
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: add yamlfmt
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/bazarr/app/helmrelease.yaml
Labels: area/kubernetes

chore: add yamlfmt
  kubernetes/components/common/alerts/alertmanager/alert.yaml
Labels: area/kubernetes

chore: add yamlfmt
  kubernetes/components/common/alerts/alertmanager/alert.yaml
Labels: area/kubernetes

chore: add yamlfmt
  .github/workflows/flux-local.yaml
Labels: area/github
