Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

update minio scrape config
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/expanse.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 453f1d0
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(helm): update chart snapshot-controller to 2.0.2
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update docker/build-push-action action to v5.1.0
  .github/workflows/publish-schemas.yaml
Labels: area/github

fix: update storage cluster
  ansible/storage/inventory/group_vars/all/main.yaml
  storage/apps/kube-system/kustomization.yaml
  storage/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  storage/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  storage/apps/kube-system/local-path-provisioner/ks.yaml
  storage/apps/kube-system/metrics-server/app/helmrelease.yaml
  storage/apps/kube-system/metrics-server/app/kustomization.yaml
  storage/apps/kube-system/metrics-server/ks.yaml
  storage/apps/kube-system/namespace.yaml
  storage/apps/kube-system/reloader/app/helmrelease.yaml
  storage/apps/kube-system/reloader/app/kustomization.yaml
  storage/apps/kube-system/reloader/ks.yaml
Labels: area/ansible

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to f5fd762
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix: update storage cluster
  storage/apps/kube-system/external-secrets/app/helmrelease.yaml
  storage/apps/kube-system/external-secrets/app/kustomization.yaml
  storage/apps/kube-system/external-secrets/ks.yaml
  storage/apps/kube-system/external-secrets/stores/kustomization.yaml
  storage/apps/kube-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  storage/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  storage/apps/kube-system/external-secrets/stores/onepassword/kustomization.yaml
  storage/apps/kube-system/external-secrets/stores/onepassword/secret.sops.yaml
  storage/apps/kube-system/kustomization.yaml
  storage/apps/networking/external-dns/app/bind/externalsecret.yaml
  storage/apps/networking/external-dns/app/bind/helmrelease.yaml
  storage/apps/networking/external-dns/app/bind/kustomization.yaml
  storage/apps/networking/external-dns/app/dnsendpoint-crd.yaml
  storage/apps/networking/external-dns/app/kustomization.yaml
  storage/apps/networking/external-dns/ks.yaml
  storage/apps/networking/kustomization.yaml
  storage/apps/networking/namespace.yaml
  storage/apps/networking/nginx/certificates/certificates.yaml
  storage/apps/networking/nginx/certificates/kustomization.yaml
  storage/apps/networking/nginx/internal/helmrelease.yaml
  storage/apps/networking/nginx/internal/kustomization.yaml
  storage/apps/networking/nginx/ks.yaml
Labels: none

fix: update nginx hrs
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat: update storage k8s ansible
  ansible/kubernetes/inventory/group_vars/all/main.yaml
  ansible/storage/inventory/group_vars/all/main.yaml
  ansible/storage/playbooks/cluster-installation.yaml
  ansible/storage/playbooks/tasks/cruft.yaml
Labels: area/ansible

fix: update storage cluster
  storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
  storage/apps/default/node-exporter/app/helmrelease.yaml
  storage/apps/default/smartctl-exporter/app/helmrelease.yaml
  storage/apps/kube-system/external-secrets/app/helmrelease.yaml
  storage/apps/networking/external-dns/app/bind/helmrelease.yaml
  storage/apps/networking/nginx/internal/helmrelease.yaml
Labels: none

fix: refactor some folders
  ansible/main/.envrc
  ansible/main/inventory/group_vars/all/main.yaml
  ansible/main/inventory/group_vars/all/supplemental.yaml
  ansible/main/inventory/group_vars/master/main.yaml
  ansible/main/inventory/group_vars/worker/main.yaml
  ansible/main/inventory/hosts.yaml
  ansible/main/playbooks/cluster-ceph-reset.yaml
  ansible/main/playbooks/cluster-installation.yaml
  ansible/main/playbooks/cluster-nuke.yaml
  ansible/main/playbooks/cluster-prepare.yaml
  ansible/main/playbooks/cluster-update-rollout.yaml
  ansible/main/playbooks/files/stale-containers.service
  ansible/main/playbooks/files/stale-containers.timer
  ansible/main/playbooks/tasks/cilium.yaml
  ansible/main/playbooks/tasks/coredns.yaml
  ansible/main/playbooks/tasks/cruft.yaml
  ansible/main/playbooks/tasks/stale_containers.yaml
  ansible/main/playbooks/templates/custom-cilium-helmchart.yaml.j2
  ansible/main/playbooks/templates/custom-cilium-l2.yaml.j2
  ansible/main/playbooks/templates/custom-coredns-helmchart.yaml.j2
  ansible/main/playbooks/templates/kube-vip-static-pod.yaml.j2
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
  terraform/main/cloudflare/.terraform.lock.hcl
  terraform/main/cloudflare/account.tf
  terraform/main/cloudflare/cache.tf
  terraform/main/cloudflare/firewall.tf
  terraform/main/cloudflare/main.tf
  terraform/main/cloudflare/providers.tf
  terraform/main/cloudflare/records.tf
  terraform/main/cloudflare/zone.tf
  terraform/storage/.gitkeep
Labels: area/ansible, area/kubernetes, area/terraform

fix: update storage cluster
  storage/apps/default/minio/app/helmrelease.yaml
  storage/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  storage/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  storage/apps/monitoring/kube-state-metrics/ks.yaml
  storage/apps/monitoring/kustomization.yaml
  storage/apps/monitoring/namespace.yaml
  storage/apps/monitoring/node-exporter/app/helmrelease.yaml
  storage/apps/monitoring/node-exporter/app/kustomization.yaml
  storage/apps/monitoring/node-exporter/ks.yaml
  storage/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
  storage/apps/monitoring/smartctl-exporter/app/kustomization.yaml
  storage/apps/monitoring/smartctl-exporter/ks.yaml
  storage/apps/monitoring/vector/app/agent/config/vector.yaml
  storage/apps/monitoring/vector/app/agent/helmrelease.yaml
  storage/apps/monitoring/vector/app/agent/kustomization.yaml
  storage/apps/monitoring/vector/app/agent/patches/kustomizeconfig.yaml
  storage/apps/monitoring/vector/app/agent/rbac.yaml
  storage/apps/monitoring/vector/app/kustomization.yaml
  storage/apps/monitoring/vector/ks.yaml
Labels: none

fix: add prometheus to storage cluster
  ansible/storage/inventory/group_vars/all/main.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  storage/apps/monitoring/kube-prometheus-stack/ks.yaml
  storage/apps/monitoring/kustomization.yaml
Labels: area/ansible

fix: disable etcd and kubeproxy monitoring in storage cluster
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.725
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: add external label to storage prom
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: none

feat(add): initial federation scrapeconfig
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/federation.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
Labels: area/kubernetes

feat(add): more federation scrapeconfig
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/federation.yaml
  storage/apps/default/kopia/app/helmrelease.yaml
Labels: area/kubernetes

feat(add): more federation scrapeconfig
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/expanse.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/federation.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/kustomization.yaml
  storage/apps/default/minio/app/helmrelease.yaml
Labels: area/kubernetes

set data compression to bzip
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

feat: update storage cluster
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/node-exporter.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  storage/apps/monitoring/kustomization.yaml
  storage/apps/monitoring/node-exporter/app/helmrelease.yaml
  storage/apps/monitoring/node-exporter/app/kustomization.yaml
  storage/apps/monitoring/node-exporter/ks.yaml
Labels: area/kubernetes

feat: update storage cluster
  storage/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  storage/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  storage/apps/monitoring/kube-state-metrics/ks.yaml
Labels: none

feat: add rclone s3 server to storage cluster
  storage/apps/default/rclone/app/externalsecret.yaml
  storage/apps/default/rclone/app/helmrelease.yaml
  storage/apps/default/rclone/app/kustomization.yaml
  storage/apps/default/rclone/ks.yaml
Labels: none

feat: add rclone s3 server to storage cluster
  storage/apps/default/rclone/app/helmrelease.yaml
Labels: none

feat: add rclone s3 server to storage cluster
  storage/apps/default/rclone/app/helmrelease.yaml
Labels: none

feat: test out custom volsync image
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix: change volsync schedule to every 8h 15m past the hour
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/slskd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

feat: test out rclone s3 with audiobookshelf
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/default/audiobookshelf/app/kustomization.yaml
  kubernetes/apps/default/audiobookshelf/app/volsync.yaml
  kubernetes/apps/default/audiobookshelf/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: undeploy audiobookshelf test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: add cors policy on rclone s3
  storage/apps/default/rclone/app/helmrelease.yaml
Labels: none

feat: deploy audiobookshelf test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: archive tests
  archive/kubernetes/apps/default/audiobookshelf/app/volsync.yaml
  archive/kubernetes/apps/default/rclone/app/externalsecret.yaml
  archive/kubernetes/apps/default/rclone/app/helmrelease.yaml
  archive/kubernetes/apps/default/rclone/app/kustomization.yaml
  archive/kubernetes/apps/default/rclone/ks.yaml
  kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/default/audiobookshelf/app/kustomization.yaml
  kubernetes/apps/default/audiobookshelf/app/volsync.yaml
  kubernetes/apps/default/audiobookshelf/ks.yaml
  kubernetes/apps/default/kustomization.yaml
  storage/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: archive tests
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: archive tests
  archive/kubernetes/apps/default/rclone/ks.yaml
  storage/apps/default/kopia/ks.yaml
  storage/apps/default/minio/ks.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/minio/app/helmrelease.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/minio/app/helmrelease.yaml
Labels: none

feat: backup volsync to minio and rename secrets
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/slskd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.19.0
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes

fix: pin postgres-init to 14
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix: pin postgres-init to 14
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
