Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

chore: rook rebuild notes
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: add tolerations back to suc server plan
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
  storage/apps/kube-system/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

chore(gatus): update secret names
  kubernetes/apps/monitoring/gatus/app/externalsecret.yaml
Labels: area/kubernetes

chore(gatus): update secret names
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
Labels: area/kubernetes

fix: add flux-bootstrap task
  Taskfile.yaml
  kubernetes/flux/vars/cluster-secrets.sops.env
  kubernetes/flux/vars/kustomization.yaml
  storage/bootstrap/readme.md
  storage/flux/vars/kustomization.yaml
Labels: area/kubernetes

fix: add more preconditions to flux-bootstrap task
  Taskfile.yaml
  kubernetes/flux/vars/cluster-secrets.sops.env
Labels: area/kubernetes

chore: update renovate config
  .github/renovate.json5
Labels: area/github

chore: more clusters more problems
  .github/labels.yaml
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/kubeconform.yaml
Labels: area/github

chore: more clusters more problems
  .github/workflows/flux-diff.yaml
Labels: area/github

chore: more clusters more problems
  .github/workflows/flux-diff.yaml
Labels: area/github

chore: more clusters more problems
  .sops.yaml
  Taskfile.yaml
  kubernetes/main/bootstrap/readme.md
Labels: area/kubernetes

chore: more clusters more problems
  README.md
Labels: none

chore: more clusters more problems
  README.md
Labels: none

fix: adjust flux patches
  kubernetes/main/flux/config/flux.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes

fix: adjust flux patches
  kubernetes/main/flux/config/flux.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes

fix: update terraforms
  .sops.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/terraform.yaml
  terraform/main/cloudflare/.terraform.lock.hcl
  terraform/main/cloudflare/firewall.tf
Labels: area/kubernetes, area/terraform

fix: adjust flux patches
  kubernetes/main/flux/config/flux.yaml
  kubernetes/storage/flux/config/flux.yaml
Labels: area/kubernetes

feat: refactor taskfiles
  .gitignore
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  .vscode/settings.json
  Taskfile.yaml
  ansible/.ansible-lint
  ansible/requirements.txt
  ansible/requirements.yaml
Labels: area/ansible

fix: update vscode settings
  .vscode/settings.json
Labels: none

fix: update taskfiles to accomodate multicluster
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  Taskfile.yaml
Labels: none

fix: update taskfiles to accomodate multicluster
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: none

fix: swap sleep for true
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: none

chore: update SUC renovate group
  .github/renovate/groups.json5
Labels: area/github

fix: update taskfiles
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: none

fix: add sync-ass to external secret taskfile
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
Labels: none

fix: use pipe as delimiter
  .taskfiles/ExternalSecrets/Taskfile.yaml
Labels: none

chore: taskfile grammar
  .taskfiles/Ansible/Taskfile.yaml
  .taskfiles/ExternalSecrets/Taskfile.yaml
  .taskfiles/Flux/Taskfile.yaml
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
Labels: none

chore: taskfile preconditional msgs
  .taskfiles/Kubernetes/Taskfile.yaml
  .taskfiles/VolSync/Taskfile.yaml
Labels: none

chore: add spegel helm repo
  archive/kubernetes/apps/kube-system/spegel/app/helmrelease.yaml
  archive/kubernetes/apps/kube-system/spegel/app/kustomization.yaml
  archive/kubernetes/apps/kube-system/spegel/ks.yaml
  kubernetes/main/flux/repositories/helm/kustomization.yaml
  kubernetes/main/flux/repositories/helm/spegel.yaml
Labels: area/kubernetes

feat: deploy spegel
  kubernetes/main/apps/kube-system/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/app/helmrelease.yaml
  kubernetes/main/apps/kube-system/spegel/app/kustomization.yaml
  kubernetes/main/apps/kube-system/spegel/ks.yaml
  kubernetes/main/apps/monitoring/grafana/app/helmrelease.yaml
  kubernetes/main/flux/repositories/helm/xenitab.yaml
Labels: area/kubernetes

feat: deploy spegel
  kubernetes/main/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat: deploy spegel ansible code
  ansible/main/inventory/group_vars/all/main.yaml
  ansible/main/playbooks/cluster-installation.yaml
  ansible/main/playbooks/files/config.toml.tmpl
Labels: area/ansible

fix: enable terraforms
  kubernetes/main/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/main/apps/flux-system/tf-controller/terraforms/kustomization.yaml
Labels: area/kubernetes

deploy k8s-digester
  kubernetes/main/apps/digester-system/k8s-digester/ks.yaml
  kubernetes/main/apps/digester-system/kustomization.yaml
  kubernetes/main/apps/digester-system/namespace.yaml
  kubernetes/main/flux/repositories/git/k8s-digester.yaml
Labels: area/kubernetes

add digester-system namespace labels
  kubernetes/main/apps/digester-system/namespace.yaml
Labels: area/kubernetes

enable k8s-digester on volsync ns
  kubernetes/main/apps/volsync/namespace.yaml
Labels: area/kubernetes

feat: add digester resolution to default ns
  kubernetes/main/apps/default/namespace.yaml
Labels: area/kubernetes

feat: use miniflux distroless image
  .github/renovate/packageRules.json5
  ansible/main/playbooks/files/config.toml.tmpl
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
Labels: area/ansible, area/github, area/kubernetes

fix: disable debug on miniflux
  kubernetes/main/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

chore: add k8s vscode config
  .vscode/settings.json
Labels: none

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
