Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image thanos to v12.13.8
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.695
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.2
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.1.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.9
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.5.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

change sources in flux diff workflow
  .github/workflows/flux-diff.yaml
Labels: area/github

undo that
  .github/workflows/flux-diff.yaml
Labels: area/github

maybe flux-diff.yaml
  .github/workflows/flux-diff.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to cc8e0f2
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.697
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump jellyfin to new app-template version
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.43
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 5fd7c41
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 88af35d
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

Update qbittools config.yaml
  kubernetes/apps/default/qbittorrent/tools/manage/config/config.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.28.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.5.3
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.4
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.32
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.10
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible to 8.5.0
  requirements.txt
Labels: none

fix(container): update image ghcr.io/buroa/qbittools to v0.9.6
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat: rename qbtools image and update version
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to c1d1202
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(github-action): update tj-actions/changed-files action to v39.2.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore(container): update image ghcr.io/bjw-s/mdbook to d12a44a
  .github/workflows/publish-docs.yaml
Labels: area/github

feat(helm): update chart loki to 5.29.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 26c0ab9
  .github/workflows/publish-docs.yaml
Labels: area/github

fix: clean up loki alerting rules
  kubernetes/apps/monitoring/loki/app/rules/loki-alerting-rules.yaml
Labels: area/kubernetes

fix(github-release): update flux group to v2.1.2
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-schemas.yaml
  kubernetes/bootstrap/flux/kustomization.yaml
  kubernetes/flux/config/flux.yaml
Labels: area/github, area/kubernetes

feat(container): update image kube-prometheus-stack to v51.6.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 645eea2
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.2
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 09d97f0
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image redis to v18.1.5
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.2
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.11
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix: update sonarr and radarr pushover script
  kubernetes/apps/default/radarr/app/scripts/pushover-notify.sh
  kubernetes/apps/default/sonarr/app/scripts/pushover-notify.sh
Labels: area/kubernetes
