Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/bootstrap, area/docs, area/github, area/kubernetes, area/scripts, area/talos, area/taskfile

Update labels.yaml
  .github/labels.yaml
Labels: area/github

Update .talos.env
  .talos.env
Labels: none

Rename .talos.env to .versions.env
  .versions.env
Labels: none

Update Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

Rename .versions.env to .version.env
  .version.env
Labels: none

Update Taskfile.yaml
  Taskfile.yaml
Labels: area/taskfile

Update customManagers.json5
  .github/renovate/customManagers.json5
Labels: area/github

fix: align versions for SUC and taskfile
  Taskfile.yaml
  bootstrap/versions.env
  kubernetes/apps/kube-system/system-upgrade/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/app/resources/versions.env
  kubernetes/apps/kube-system/system-upgrade/ks.yaml
Labels: area/bootstrap, area/kubernetes, area/taskfile

Update ks.yaml
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

fix: remove postBuild patch
  kubernetes/flux/cluster/ks.yaml
Labels: area/kubernetes

Update customManagers.json5
  .github/renovate/customManagers.json5
Labels: area/github

fix: align versions for SUC and taskfile
  kubernetes/apps/kube-system/system-upgrade/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade/ks.yaml
  kubernetes/components/system-upgrade/kustomization.yaml
  kubernetes/components/system-upgrade/versions.env
Labels: area/kubernetes

fix: align versions for SUC and taskfile
  kubernetes/components/system-upgrade/kustomization.yaml
Labels: area/kubernetes

fix: align versions for SUC and taskfile
  Taskfile.yaml
Labels: area/taskfile

fix: align versions for SUC and taskfile
  .mise.toml
Labels: none

fix: align versions for SUC and taskfile
  .mise.toml
  Taskfile.yaml
  bootstrap/.env
  kubernetes/components/system-upgrade/.env
  kubernetes/components/system-upgrade/kustomization.yaml
Labels: area/bootstrap, area/kubernetes, area/taskfile

fix: align versions for SUC and taskfile
  .mise.toml
Labels: none

fix: align versions for SUC and taskfile
  .mise.toml
Labels: none

fix: align versions for SUC and taskfile
  scripts/installation.sh
Labels: area/scripts

.github/labeler.yaml:

---
area/bootstrap:
  - changed-files:
      - any-glob-to-any-file: "bootstrap/**/*"
area/docs:
  - changed-files:
      - any-glob-to-any-file:
          - "README.md"
area/github:
  - changed-files:
      - any-glob-to-any-file: ".github/**/*"
area/kubernetes:
  - changed-files:
      - any-glob-to-any-file: "kubernetes/**/*"
area/scripts:
  - changed-files:
      - any-glob-to-any-file: "scripts/**/*"
area/talos:
  - changed-files:
      - any-glob-to-any-file: "talos/**/*"
area/taskfile:
  - changed-files:
      - any-glob-to-any-file:
          - ".taskfiles/**/*"
          - "Taskfile.yaml"
