Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat(helm): update chart loki to 5.36.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.703
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.7
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore(renovate): remove unused groups
  .github/renovate/groups.json5
Labels: area/github

feat(container): update image ghcr.io/autobrr/autobrr to v1.32.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/postgres-init to v14.9
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore: dependsOn housekeeping
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/slskd/slskd to v0.19.1
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove node selectors on some apps
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix: publish-schemas only builds web container
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 3881cb7
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.83.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(grafana-dashboards): update dashboard node exporter full to revision 33
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: pull schemas from nginx container for kubeconform
  .github/workflows/kubeconform.yaml
Labels: area/github

fix: pull schemas from nginx container for kubeconform
  .github/workflows/kubeconform.yaml
Labels: area/github

Updat fridget to frestest beta
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/atuinsh/atuin to v17.0.1
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

use beta tag on authelia
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix: update authelia to latest beta with digest
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix: update authelia to latest beta with digest
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

revert: use beta tag on authelia
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): use new server address format
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 2679d60
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.61.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm)!: Update chart grafana to 7.0.0
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.1.4059
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.2.8207
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/restic/restic to v0.16.2
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.708
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.709
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): use beta tag
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): use new env options
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): use new env options
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): use new x env options
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): move some config to config file
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix(authelia): use differnet redir url
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.710
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.49
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.50
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes
