Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

feat: goo all in with targetNamespace in system-upgrade
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/ks.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/kubernetes

feat: goo all in with targetNamespace in volsync
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/app/kustomization.yaml
  kubernetes/apps/volsync/volsync/app/prometheusrule.yaml
  kubernetes/apps/volsync/volsync/ks.yaml
Labels: area/kubernetes

feat: goo all in with targetNamespace in rook-ceph
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/gatus.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/ks.yaml
Labels: area/kubernetes

feat: goo all in with targetNamespace in kube-system
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
  kubernetes/apps/kube-system/cilium/app/kustomization.yaml
  kubernetes/apps/kube-system/cilium/ks.yaml
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
  kubernetes/apps/kube-system/coredns/app/kustomization.yaml
  kubernetes/apps/kube-system/coredns/ks.yaml
  kubernetes/apps/kube-system/descheduler/app/helmrelease.yaml
  kubernetes/apps/kube-system/descheduler/app/kustomization.yaml
  kubernetes/apps/kube-system/descheduler/ks.yaml
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/app/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/ks.yaml
  kubernetes/apps/kube-system/external-secrets/stores/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/clustersecretstore.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/helmrelease.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/kustomization.yaml
  kubernetes/apps/kube-system/external-secrets/stores/onepassword/secret.sops.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/app/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/gpu/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
  kubernetes/apps/kube-system/local-path-provisioner/app/kustomization.yaml
  kubernetes/apps/kube-system/local-path-provisioner/ks.yaml
  kubernetes/apps/kube-system/metrics-server/app/helmrelease.yaml
  kubernetes/apps/kube-system/metrics-server/app/kustomization.yaml
  kubernetes/apps/kube-system/metrics-server/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
  kubernetes/apps/kube-system/node-feature-discovery/app/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/ks.yaml
  kubernetes/apps/kube-system/reloader/app/kustomization.yaml
  kubernetes/apps/kube-system/reloader/ks.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/ks.yaml
Labels: area/kubernetes

feat: convert overseerr to volsync template
  kubernetes/apps/default/overseerr/app/kustomization.yaml
  kubernetes/apps/default/overseerr/app/volsync.yaml
  kubernetes/apps/default/overseerr/ks.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.729
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: convert tautulli to volsync template
  kubernetes/apps/default/tautulli/app/kustomization.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/tautulli/ks.yaml
Labels: area/kubernetes

feat: convert slskd to volsync template
  kubernetes/apps/default/overseerr/app/kustomization.yaml
  kubernetes/apps/default/slskd/app/kustomization.yaml
  kubernetes/apps/default/slskd/app/volsync.yaml
  kubernetes/apps/default/slskd/ks.yaml
  kubernetes/apps/default/tautulli/app/kustomization.yaml
Labels: area/kubernetes

feat: convert sab to volsync template
  kubernetes/apps/default/sabnzbd/app/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
Labels: area/kubernetes

feat: convert recyclarr to volsync template
  kubernetes/apps/default/recyclarr/app/kustomization.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/recyclarr/ks.yaml
Labels: area/kubernetes

feat: convert zwave to volsync template
  kubernetes/apps/default/zwave-js-ui/app/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
Labels: area/kubernetes

feat: convert zwave to volsync template
  kubernetes/apps/default/zwave-js-ui/app/kustomization.yaml
Labels: area/kubernetes

fix: ignore rsrc and rdst in kubeconform script
  .github/scripts/kubeconform.sh
Labels: area/github

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.2.8288
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update allenporter/flux-local action to 3.2.0
  .github/workflows/flux-diff.yaml
Labels: area/github

feat: add node exporter and kube state metrics back into kps
  archive/kubernetes/apps/monitoring/kube-state-metrics/app/helmrelease.yaml
  archive/kubernetes/apps/monitoring/kube-state-metrics/app/kustomization.yaml
  archive/kubernetes/apps/monitoring/kube-state-metrics/ks.yaml
  archive/kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
  archive/kubernetes/apps/monitoring/node-exporter/app/kustomization.yaml
  archive/kubernetes/apps/monitoring/node-exporter/ks.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/kustomization.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update local-path-provisioner to v0.0.25
  kubernetes/flux/repositories/git/local-path-provisioner.yaml
  storage/flux/repositories/git/local-path-provisioner.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.731
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: move volsync and gatus templates dir to kubernetes/templates
  .taskfiles/VolSyncNew/Tasks.yaml
  Taskfile.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/authelia/app/kustomization.yaml
  kubernetes/apps/default/autobrr/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/code/kustomization.yaml
  kubernetes/apps/default/kubernetes-schemas/app/kustomization.yaml
  kubernetes/apps/default/lldap/app/kustomization.yaml
  kubernetes/apps/default/media-browser/app/kustomization.yaml
  kubernetes/apps/default/miniflux/app/kustomization.yaml
  kubernetes/apps/default/overseerr/app/kustomization.yaml
  kubernetes/apps/default/plex/app/kustomization.yaml
  kubernetes/apps/default/prowlarr/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/radarr/app/kustomization.yaml
  kubernetes/apps/default/recyclarr/app/kustomization.yaml
  kubernetes/apps/default/sabnzbd/app/kustomization.yaml
  kubernetes/apps/default/shlink/app/kustomization.yaml
  kubernetes/apps/default/slskd/app/kustomization.yaml
  kubernetes/apps/default/sonarr/app/kustomization.yaml
  kubernetes/apps/default/tautulli/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zwave-js-ui/app/kustomization.yaml
  kubernetes/templates/gatus/external/configmap.yaml
  kubernetes/templates/gatus/external/kustomization.yaml
  kubernetes/templates/gatus/guarded/configmap.yaml
  kubernetes/templates/gatus/guarded/kustomization.yaml
  kubernetes/templates/volsync/claim.yaml
  kubernetes/templates/volsync/kustomization.yaml
  kubernetes/templates/volsync/minio.yaml
  kubernetes/templates/volsync/r2.yaml
  kubernetes/templates/volsync/readme.md
Labels: area/kubernetes

fix: overseerr is external
  kubernetes/apps/default/overseerr/app/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.8
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(ansible)!: Update kubernetes.core to 3.0.0
  requirements.yaml
Labels: none

feat: convert zigbee to volsync template
  kubernetes/apps/default/zigbee2mqtt/app/kustomization.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
Labels: area/kubernetes

feat: convert plex to volsync template
  kubernetes/apps/default/plex/app/kustomization.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/plex/ks.yaml
Labels: area/kubernetes

feat: convert plex to volsync template
  kubernetes/apps/default/plex/app/kustomization.yaml
Labels: area/kubernetes

feat: convert plex to volsync template
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: convert plex to volsync template
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: convert qb to volsync template
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
Labels: area/kubernetes

feat: convert hass to volsync template
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
Labels: area/kubernetes

feat: migrate to new volsync taskfiles
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Tasks.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  .taskfiles/VolSync/scripts/wait.sh
  .taskfiles/VolSync/templates/list.tmpl.yaml
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/unlock.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
  .taskfiles/VolSync/wait-for-job.sh
  .taskfiles/VolSyncNew/Tasks.yaml
Labels: none

fix: disable the snapshotter webhook
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable the snapshotter webhook
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: scale atuin to 2 replicas
  .taskfiles/VolSync/Tasks.yaml
  Taskfile.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

feat: move snapshotclassed back to rook cluster
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/mc to release.2023-11-20t16-30-59z
  storage/apps/default/minio/mirror/helmrelease.yaml
Labels: none

feat(container): update image thanos to v12.16.0
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-11-20t22-40-07z
  storage/apps/default/minio/app/helmrelease.yaml
Labels: none

feat: increase resources in ceph cluster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

feat: copyMethod var in volsync templates
  kubernetes/apps/default/slskd/ks.yaml
  kubernetes/templates/volsync/minio.yaml
  kubernetes/templates/volsync/r2.yaml
Labels: area/kubernetes

fix: clone no work
  kubernetes/apps/default/slskd/ks.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
