Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.8.3
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 97a194c
  .github/workflows/publish-docs.yaml
Labels: area/github

fix: update volsync taskfile
  .taskfiles/VolSync/Tasks.yaml
Labels: none

fix: archive minio-mirror and rclone-restic-sync
  archive/kubernetes/apps/default/minio/mirror/config/config.json
  archive/kubernetes/apps/default/minio/mirror/externalsecret.yaml
  archive/kubernetes/apps/default/minio/mirror/helmrelease.yaml
  archive/kubernetes/apps/default/minio/mirror/kustomization.yaml
  archive/kubernetes/apps/default/rclone-restic-sync/app/config/backup.sh
  archive/kubernetes/apps/default/rclone-restic-sync/app/config/rclone.conf
  archive/kubernetes/apps/default/rclone-restic-sync/app/externalsecret.yaml
  archive/kubernetes/apps/default/rclone-restic-sync/app/helmrelease.yaml
  archive/kubernetes/apps/default/rclone-restic-sync/app/kustomization.yaml
  archive/kubernetes/apps/default/rclone-restic-sync/ks.yaml
  storage/apps/default/kustomization.yaml
  storage/apps/default/minio/ks.yaml
Labels: none

fix: set replicas to one on storage lpp
  archive/kubernetes/apps/default/rclone-s3-server/app/externalsecret.yaml
  archive/kubernetes/apps/default/rclone-s3-server/app/helmrelease.yaml
  archive/kubernetes/apps/default/rclone-s3-server/app/kustomization.yaml
  archive/kubernetes/apps/default/rclone-s3-server/ks.yaml
  storage/apps/kube-system/local-path-provisioner/app/helmrelease.yaml
Labels: none

fix: add custom ingress to authelia
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

fix: update scrapeconfigs
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/federation.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/vyos.yaml
Labels: area/kubernetes

fix: update scrapeconfigs
  kubernetes/apps/monitoring/kube-prometheus-stack/app/scrapeconfigs/federation.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.37.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/onedr0p/postgres-init to v15
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: update atuin to pg init 15
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible to 9.0.0
  requirements.txt
Labels: none

fix(container): update image ghcr.io/buroa/qbtools to v0.10.1
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat: add configmap for slskd
  kubernetes/apps/default/slskd/app/config/slskd.yml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/kustomization.yaml
Labels: area/kubernetes

feat: add configmap for slskd
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update onepassword.connect to 2.2.4
  requirements.yaml
Labels: none

fix: clean up vm datasource
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: clean up vm datasource
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 7bb285c
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(deps): update ansible to 9.0.1
  requirements.txt
Labels: none

fix: clean up vm datasource
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: add SUC to storage cluster
  storage/apps/system-upgrade/kustomization.yaml
  storage/apps/system-upgrade/namespace.yaml
  storage/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  storage/apps/system-upgrade/system-upgrade-controller/ks.yaml
  storage/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  storage/apps/system-upgrade/system-upgrade-controller/plans/kustomization.yaml
  storage/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: none

fix(container): update image thanos to v12.16.1
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v54.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: add probes to apps and update qb
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix: remove probes from qb
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: add manual interaction pushover notifications
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/radarr/app/scripts/pushover-notify.sh
  kubernetes/apps/default/sonarr/app/scripts/pushover-notify.sh
Labels: area/kubernetes

fix: disable the snapshotter webhook
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v54.2.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.35
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix: refactor gatus template to support custom subdomain
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/authelia/ks.yaml
  kubernetes/apps/default/home-assistant/ks.yaml
  kubernetes/apps/default/miniflux/ks.yaml
  kubernetes/apps/default/overseerr/ks.yaml
  kubernetes/apps/default/plex/ks.yaml
  kubernetes/apps/default/qbittorrent/ks.yaml
  kubernetes/apps/default/sabnzbd/ks.yaml
  kubernetes/apps/default/shlink/ks.yaml
  kubernetes/apps/default/zigbee2mqtt/ks.yaml
  kubernetes/apps/default/zwave-js-ui/ks.yaml
  kubernetes/templates/gatus/external/configmap.yaml
  kubernetes/templates/gatus/guarded/configmap.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat: add user/groups and add conroller bash script to volsync taskfile
  .taskfiles/VolSync/Tasks.yaml
  .taskfiles/VolSync/scripts/controller.sh
  .taskfiles/VolSync/scripts/wait.sh
  .taskfiles/VolSync/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSync/templates/wipe.tmpl.yaml
Labels: none

feat(helm): update chart loki to 5.38.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy thelounge
  archive/kubernetes/apps/default/thelounge/app/gatus.yaml
  archive/kubernetes/apps/default/thelounge/app/volsync.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
  kubernetes/apps/default/thelounge/app/kustomization.yaml
  kubernetes/apps/default/thelounge/ks.yaml
Labels: area/kubernetes

feat: deploy thelounge
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy thelounge
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

fix: update cluster rollout update playbook
  ansible/main/playbooks/cluster-rollout-update.yaml
Labels: area/ansible

fix(container): update image kube-prometheus-stack to v54.2.2
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  storage/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: test upcoming flux-build
  .github/workflows/flux-diff.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
