Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

feat(container): update image ghcr.io/cross-seed/cross-seed to v5.6.0
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cloudnative-pg to 0.19.1
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 7.0.3
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.36.2
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update tj-actions/changed-files action to v40.1.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat: archive immich and clean up authelia config
  .github/renovate/groups.json5
  archive/kubernetes/apps/default/immich/app/configmap.yaml
  archive/kubernetes/apps/default/immich/app/externalsecret.yaml
  archive/kubernetes/apps/default/immich/app/gatus.yaml
  archive/kubernetes/apps/default/immich/app/immich-pvc.yaml
  archive/kubernetes/apps/default/immich/app/kustomization.yaml
  archive/kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  archive/kubernetes/apps/default/immich/app/machine-learning/kustomization.yaml
  archive/kubernetes/apps/default/immich/app/machine-learning/pvc.yaml
  archive/kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  archive/kubernetes/apps/default/immich/app/microservices/kustomization.yaml
  archive/kubernetes/apps/default/immich/app/server/helmrelease.yaml
  archive/kubernetes/apps/default/immich/app/server/kustomization.yaml
  archive/kubernetes/apps/default/immich/app/typesense/helmrelease.yaml
  archive/kubernetes/apps/default/immich/app/typesense/kustomization.yaml
  archive/kubernetes/apps/default/immich/app/web/helmrelease.yaml
  archive/kubernetes/apps/default/immich/app/web/kustomization.yaml
  archive/kubernetes/apps/default/immich/ks.yaml
  kubernetes/apps/default/authelia/app/config/configuration.yaml
  kubernetes/apps/default/authelia/app/externalsecret.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/github, area/kubernetes

fix: add retention options to slskd
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

fix: add more options to slskd
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

fix: add service monitor for slskd
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-18
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cross-seed/cross-seed to v5.7.0
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart loki to 5.36.3
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

feat: try out upstream gha runner container
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore: add curl to helm repo sync
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: add curl to helm repo sync
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: add curl to helm repo sync
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: add curl to schemas workflow
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 3c120f8
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore: logic updates in helm repo sync
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

chore: add env to self hosted workflows
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore: add apt-get changes
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore: use short vars in volsync taskfile
  .taskfiles/VolSync/Tasks.yaml
Labels: none

chore: use short vars in volsync taskfile
  .taskfiles/VolSync/Tasks.yaml
Labels: none

chore: rename internal volsync tasks
  .taskfiles/VolSync/Tasks.yaml
Labels: none

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 39b05db
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

chore: use git src on k3s galaxy role
  requirements.yaml
Labels: none

chore(container): update image ghcr.io/authelia/authelia to 755b7ef
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

bump fridget to beta4
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.1
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: only keep slskd logs on disk for an hour
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 0759c04
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update micalevisk/last-issue-action action to v2.2.0
  .github/workflows/broken-link-check.yaml
Labels: area/github

fix(container): update image redis to v18.2.1
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

chore: test out authelia annotations for james
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

chore: test out authelia annotations for james
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

chore: test out authelia annotations for james
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

chore: test out authelia annotations for james
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

chore: test out authelia annotations for james
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

chore: test out authelia annotations for james
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

chore: add release workflow for calver - thanks @binaryn3xus
  .github/workflows/release.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
