Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat: renovate k3s build numbers too
  .github/renovate/customManagers.json5
  .github/renovate/packageRules.json5
Labels: area/github

feat: add rclone volsync sync to storage cluster
  storage/apps/default/kustomization.yaml
  storage/apps/default/rclone/app/config/backup.sh
  storage/apps/default/rclone/app/config/rclone.conf
  storage/apps/default/rclone/app/externalsecret.yaml
  storage/apps/default/rclone/app/helmrelease.yaml
  storage/apps/default/rclone/app/kustomization.yaml
  storage/apps/default/rclone/ks.yaml
Labels: none

feat: add rclone volsync sync to storage cluster
  storage/apps/default/rclone/app/config/rclone.conf
Labels: none

feat: add rclone volsync sync to storage cluster
  storage/apps/default/rclone/app/config/rclone.conf
Labels: none

feat: add rclone volsync sync to storage cluster
  storage/apps/default/rclone/app/config/rclone.conf
  storage/apps/default/rclone/app/helmrelease.yaml
Labels: none

feat: add rclone volsync sync to storage cluster
  storage/apps/default/rclone/app/helmrelease.yaml
Labels: none

feat: add rclone volsync sync to storage cluster
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  storage/apps/default/rclone/app/config/backup.sh
  storage/apps/default/rclone/app/externalsecret.yaml
  storage/apps/default/rclone/app/helmrelease.yaml
  storage/apps/default/rclone/app/kustomization.yaml
Labels: area/kubernetes

feat: add rclone volsync sync to storage cluster
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  storage/apps/default/rclone/app/config/backup.sh
  storage/apps/default/rclone/app/externalsecret.yaml
Labels: area/kubernetes

feat: add rclone volsync sync to storage cluster
  storage/apps/default/rclone/app/config/backup.sh
Labels: none

feat: add rclone volsync sync to storage cluster
  storage/apps/default/rclone/app/config/backup.sh
Labels: none

feat: add rclone volsync sync to storage cluster
  storage/apps/default/rclone/app/kustomization.yaml
Labels: none

fix: change cnpg to minio
  kubernetes/apps/database/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

feat: deploy mc mirror to storage cluster
  storage/apps/default/minio/ks.yaml
  storage/apps/default/minio/mirror/config/config.json
  storage/apps/default/minio/mirror/externalsecret.yaml
  storage/apps/default/minio/mirror/helmrelease.yaml
  storage/apps/default/minio/mirror/kustomization.yaml
Labels: none

feat: update secret names for cloudflare
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  storage/apps/default/minio/mirror/config/config.json
  storage/apps/default/rclone/app/config/rclone.conf
  storage/apps/default/rclone/app/externalsecret.yaml
Labels: area/kubernetes

feat: add config dir for minio mc mirror
  storage/apps/default/minio/mirror/helmrelease.yaml
Labels: none

feat: disable mc mirror due to slow speeds
  storage/apps/default/minio/ks.yaml
Labels: none

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 3440cfa
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat: disable rclone in storage cluster
  storage/apps/default/kustomization.yaml
  storage/apps/default/rclone/app/helmrelease.yaml
Labels: none

feat: add volsync for minio and r2 for frigate
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  .taskfiles/VolSync/Tasks.yaml
  .taskfiles/VolSync/WipeJob.tmpl.yaml
  Taskfile.yaml
  kubernetes/apps/default/frigate/app/claim.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/frigate/app/volsync/kustomization.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/externalsecret.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/kustomization.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/replicationdestination.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/replicationsource.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/externalsecret.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/kustomization.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.3.4070
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.0.8250
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: change schedule and retain options on frigate
  kubernetes/apps/default/frigate/app/volsync/minio/replicationsource.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/replicationsource.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.4.4088
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.2.1.8276
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix: update k8s external labels
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: add max_slot_wal_keep_size to pg cluster
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

fix: add max_slot_wal_keep_size to pg cluster
  kubernetes/apps/database/cloudnative-pg/cluster/cluster16.yaml
Labels: area/kubernetes

feat: re-deploy frigate with new volsync config
  .taskfiles/VolSyncNew/Tasks.yaml
  .taskfiles/VolSyncNew/scripts/wait.sh
  .taskfiles/VolSyncNew/templates/list.tmpl.yaml
  .taskfiles/VolSyncNew/templates/replicationdestination.tmpl.yaml
  .taskfiles/VolSyncNew/templates/unlock.tmpl.yaml
  .taskfiles/VolSyncNew/templates/wipe.tmpl.yaml
  kubernetes/apps/default/frigate/app/claim.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/externalsecret.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/replicationdestination.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/replicationsource.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/externalsecret.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/replicationsource.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: re-deploy frigate with new volsync config
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: introduce template for volsync resources
  .taskfiles/VolSyncNew/Tasks.yaml
  kubernetes/apps/default/frigate/app/claim.yaml
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/volsync/kustomization.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/externalsecret.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/replicationdestination.yaml
  kubernetes/apps/default/frigate/app/volsync/minio/replicationsource.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/externalsecret.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/kustomization.yaml
  kubernetes/apps/default/frigate/app/volsync/r2/replicationsource.yaml
  kubernetes/apps/volsync/template/claim.yaml
  kubernetes/apps/volsync/template/kustomization.yaml
  kubernetes/apps/volsync/template/minio.yaml
  kubernetes/apps/volsync/template/r2.yaml
  kubernetes/apps/volsync/template/readme.md
Labels: area/kubernetes

fix: targetNamespace on actions-runner-system
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
Labels: area/kubernetes

fix: move volsync template into volsync folder next to app
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/kube-system/local-path-provisioner/ks.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/volsync/volsync/template/claim.yaml
  kubernetes/apps/volsync/volsync/template/kustomization.yaml
  kubernetes/apps/volsync/volsync/template/minio.yaml
  kubernetes/apps/volsync/volsync/template/r2.yaml
  kubernetes/apps/volsync/volsync/template/readme.md
Labels: area/kubernetes

feat: testing the waters with gatus templating
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/ks.yaml
  kubernetes/apps/default/miniflux/ks.yaml
  kubernetes/apps/monitoring/gatus/template/external/configmap.yaml
  kubernetes/apps/monitoring/gatus/template/external/kustomization.yaml
  kubernetes/apps/monitoring/gatus/template/guarded/configmap.yaml
  kubernetes/apps/monitoring/gatus/template/guarded/kustomization.yaml
Labels: area/kubernetes

feat: add commonLabels and postBuild options to all apps in default ns
  kubernetes/apps/default/cross-seed/ks.yaml
Labels: area/kubernetes

feat: add commonLabels and postBuild options to all apps in default ns
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

feat: add commonLabels to action-runner-system
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/externalsecret.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/kustomization.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/ks.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/kustomization.yaml
Labels: area/kubernetes

feat: add commonLabels and clean up namespace to cert-manager
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
  kubernetes/apps/cert-manager/cert-manager/app/kustomization.yaml
  kubernetes/apps/cert-manager/cert-manager/app/prometheusrule.yaml
  kubernetes/apps/cert-manager/cert-manager/issuers/externalsecret.yaml
  kubernetes/apps/cert-manager/cert-manager/ks.yaml
Labels: area/kubernetes

feat: add commonLabels and clean up namespace to database
  kubernetes/apps/database/cloudnative-pg/app/externalsecret.yaml
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/app/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/kustomization.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/prometheusrule.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/database/cloudnative-pg/ks.yaml
  kubernetes/apps/database/cloudnative-pg/readme.md
  kubernetes/apps/database/redis/app/helmrelease.yaml
  kubernetes/apps/database/redis/app/kustomization.yaml
  kubernetes/apps/database/redis/ks.yaml
Labels: area/kubernetes

feat: goo all in with targetNamespace in flux-system
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/flux-system/addons/ks.yaml
  kubernetes/apps/flux-system/tf-controller/app/externalsecret.yaml
  kubernetes/apps/flux-system/tf-controller/app/helmrelease.yaml
  kubernetes/apps/flux-system/tf-controller/app/kustomization.yaml
  kubernetes/apps/flux-system/tf-controller/ks.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/ocirepository.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
  kubernetes/apps/flux-system/weave-gitops/app/externalsecret.yaml
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
  kubernetes/apps/flux-system/weave-gitops/app/kustomization.yaml
  kubernetes/apps/flux-system/weave-gitops/ks.yaml
Labels: area/kubernetes

feat: goo all in with targetNamespace in networking
  kubernetes/apps/networking/cloudflared/app/dnsendpoint.yaml
  kubernetes/apps/networking/cloudflared/app/externalsecret.yaml
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
  kubernetes/apps/networking/cloudflared/app/kustomization.yaml
  kubernetes/apps/networking/cloudflared/ks.yaml
  kubernetes/apps/networking/echo-server/app/gatus.yaml
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
  kubernetes/apps/networking/echo-server/app/kustomization.yaml
  kubernetes/apps/networking/echo-server/ks.yaml
  kubernetes/apps/networking/external-dns/app/bind/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/bind/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/cloudflare/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/cloudflare/helmrelease.yaml
  kubernetes/apps/networking/external-dns/app/kustomization.yaml
  kubernetes/apps/networking/external-dns/ks.yaml
  kubernetes/apps/networking/nginx/certificates/certificates.yaml
  kubernetes/apps/networking/nginx/external/externalsecret.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/external/kustomization.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/kustomization.yaml
  kubernetes/apps/networking/nginx/ks.yaml
Labels: area/kubernetes
