Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 5c022f2
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.6.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-14
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-validation-webhook to 1.8.2
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to bab30f1
  .github/workflows/publish-docs.yaml
Labels: area/github

feat(helm): update chart loki to 5.30.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to e84a31c
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/jbops to 69a5d95
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to c9c2383
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/qbittorrent to f4a1a5e
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr-develop to f5ef22e
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 91f3cd6
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to fa87be8
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 5252094
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.7.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-15
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.6
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-10-14t05-17-22z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

fix: update qbtools config
  kubernetes/apps/default/qbittorrent/tools/manage/config/config.yaml
Labels: area/kubernetes

fix: update wizarr to v3
  kubernetes/apps/default/wizarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove wizarr :unraid:
  archive/kubernetes/apps/default/wizarr/app/helmrelease.yaml
  archive/kubernetes/apps/default/wizarr/app/kustomization.yaml
  archive/kubernetes/apps/default/wizarr/app/volsync.yaml
  archive/kubernetes/apps/default/wizarr/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix: update radarr and sonarr pushover script
  kubernetes/apps/default/radarr/app/scripts/pushover-notify.sh
  kubernetes/apps/default/sonarr/app/scripts/pushover-notify.sh
Labels: area/kubernetes

fix: do not cross-seed torrents with skip-cross-seed tag
  kubernetes/apps/default/qbittorrent/app/config/completed.sh
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 2d7c58b
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image registry.k8s.io/git-sync/git-sync to v4.1.0
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.6
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.8.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.49
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.4.4039
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.0.6
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image quay.io/minio/minio to release.2023-10-16t04-13-43z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

feat(github-action): update renovatebot/github-action action to v39.1.0
  .github/workflows/renovate.yaml
Labels: area/github

fix(container): update image kube-prometheus-stack to v51.8.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: do not upgrade custom formats
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

fix: upgrade custom formats
  kubernetes/apps/default/recyclarr/app/config/recyclarr.yml
Labels: area/kubernetes

feat(container): update image prometheus-smartctl-exporter to v0.7.0
  kubernetes/apps/monitoring/smartctl-exporter/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.31.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: update qb completed script
  kubernetes/apps/default/qbittorrent/app/config/completed.sh
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.9.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
