Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 9692132
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

use upstream gh arc image
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 8d3d893
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/github-actions-runner to dcf9e46
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 12ab7f1
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to 79b0198
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to fdfc351
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/jbops to d82c3de
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 6524115
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to 038b108
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to 837b1e9
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/jbops to 7b86f85
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/jellyfin to 041977c
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/plex-beta to 59d9922
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/home-assistant to 13f3ccf
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/jbops to 0ded2e3
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/prowlarr-develop to 880e6e6
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/qbittorrent to 16ddd36
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

use newest runner digest
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

update gha runner image
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr-develop to c6e7a24
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sabnzbd to 5f57311
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat: bump frigate to 0.13.0-beta2
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/sonarr-develop to cc88687
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/tautulli to 2ac1bc4
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to ca5f7b9
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.3.8127
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.3.4013
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.3
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image quay.io/minio/minio to release.2023-10-07t15-07-38z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

feat(container): update image kube-prometheus-stack to v51.4.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart loki to 5.27.0
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

chore: update to new renovate config
  .github/renovate.json5
Labels: area/github

chore(container): update image ghcr.io/authelia/authelia to 261f34a
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to 37bcab4
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/radarr-develop to efe518b
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.1.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.60.4
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.3
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes
