Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(github-action): update tj-actions/changed-files action to v39.2.4
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(radarr): app template v2
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(sonarr): app template v2
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(recyclarr): app template v2
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(cloudflared): app template v2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to e24bb8f
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

feat(cloudflared): app template v2
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

feat(unpoller): app template v2
  kubernetes/apps/monitoring/unpoller/app/helmrelease.yaml
Labels: area/kubernetes

feat(media-browser): app template v2
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
Labels: area/kubernetes

feat(media-browser): app template v2
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
Labels: area/kubernetes

feat(media-browser): app template v2
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
Labels: area/kubernetes

feat(shlink): app template v2
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

feat(lldap): app template v2
  kubernetes/apps/default/lldap/app/helmrelease.yaml
Labels: area/kubernetes

feat(tautulli): app template v2
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat(thelounge): app template v2
  kubernetes/apps/default/thelounge/app/helmrelease.yaml
Labels: area/kubernetes

feat(slskd): app template v2
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

feat(sab): app template v2
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(zigbee): app template v2
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(overseerr): app template v2
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(overseerr): app template v2
  kubernetes/apps/default/overseerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(miniflux): app template v2
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat(autobrr): app template v2
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(autobrr): app template v2
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat: update pull policy
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

feat(authelia): app template v2
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(authelia): app template v2
  kubernetes/apps/default/authelia/app/helmrelease.yaml
Labels: area/kubernetes

feat(mosquitto): app template v2
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(mosquitto): app template v2
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
Labels: area/kubernetes

feat(plex): app template v2
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
Labels: area/kubernetes

feat(plex-off-deck): app template v2
  kubernetes/apps/default/plex/tools/off-deck/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-10-24t04-42-36z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

fix(helm): update external snapshotter group
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

fix: sonarr and radarr pushover script
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(qbtools): app template v2
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat(qb): app template v2
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.0
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

feat(frigate): app template v2
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

dry run until I figure out mounts
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
Labels: area/kubernetes

fix: update all init containers
  kubernetes/apps/default/authelia/app/helmrelease.yaml
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/lldap/app/helmrelease.yaml
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
  kubernetes/apps/default/mosquitto/app/helmrelease.yaml
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/shlink/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(zwave): app template v2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes
