Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-10
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.2+k3s1
  ansible/kubernetes/inventory/group_vars/all/main.yaml
  ansible/storage/inventory/group_vars/all/main.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/ansible, area/kubernetes

fix(container): update immich group to v1.79.1
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart grafana to 6.59.5
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v51.1.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(github-action): update actions/checkout action to v4.1.0
  .github/workflows/broken-link-check.yaml
  .github/workflows/helmrepository-sync.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/renovate.yaml
Labels: area/github

feat(github-action): update tj-actions/changed-files action to v39.2.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat(container): update image redis to v18.1.0
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update onepassword.connect to 2.2.3
  requirements.yaml
Labels: none

feat(container): update image ghcr.io/autobrr/autobrr to v1.30.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.17.0
  kubernetes/apps/default/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/shlinkio/shlink to v3.6.4
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart grafana to 6.60.1
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart ingress-nginx to 4.8.0
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to dbc20da
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.2.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.4.6
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/jellyfin to v10.8.11
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.4.7
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix: allowSnippetAnnotations
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: allowSnippetAnnotations
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.9.1.3981
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.2.8103
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.9.3
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/cross-seed/cross-seed to v5.5.0
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/github-actions-runner to c0300ea
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.9.4
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/sabnzbd to v4.1.0
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-gpu to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-operator to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart cert-manager to v1.13.1
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/timberio/vector to v0.33.0
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  terraform/storage/apps/app_vector_agent.tf
Labels: area/kubernetes, area/terraform

fix(helm): update chart loki to 5.23.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.686
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/zwave-js/zwave-js-ui to v9
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex-beta to v1.32.7.7571-13cdc68dc
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.31
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.5.1
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible-lint to 6.20.1
  requirements.txt
Labels: none

feat(container): update image ghcr.io/twin/gatus to v5.6.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes
