Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

feat: convert system-upgrade-controller to a helm chart
  ansible/main/inventory/group_vars/master/main.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
Labels: area/ansible, area/kubernetes

feat: convert system-upgrade-controller to a helm chart
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat: convert system-upgrade-controller to a helm chart
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: change loki sidecar to ghcr
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix: renovate frigate betas
  .github/renovate/packageRules.json5
Labels: area/github

fix: disable ceph compression
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: set ms_mode back on rook
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix: set requireMsgr2 to true for ceph cluster
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

chore: housekeeping
  .taskfiles/VolSync/Taskfile.yaml
  Taskfile.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: update hard defined service account
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes

fix: update hard defined service account
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/rbac.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/app/rbac.yaml
Labels: area/kubernetes

feat: move teh SUC to kube-system
  kubernetes/apps/kube-system/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/rbac.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/ks.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/kustomization.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/plans/server.yaml
  kubernetes/apps/system-upgrade/kustomization.yaml
  kubernetes/apps/system-upgrade/namespace.yaml
Labels: area/kubernetes

fix(container): update image docker.io/rancher/kubectl to v1.28.4
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

feat: migrate to official create-github-app-token GHA
  .github/workflows/broken-link-check.yaml
  .github/workflows/flux-diff.yaml
  .github/workflows/kubeconform.yaml
  .github/workflows/meta-labeler.yaml
  .github/workflows/meta-sync-labels.yaml
  .github/workflows/publish-docs.yaml
  .github/workflows/publish-terraform.yaml
  .github/workflows/release.yaml
  .github/workflows/renovate.yaml
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/github, area/kubernetes

chore: cache pip packages possibly
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore: no cache pip packages possibly
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 5166f13
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/blakeblackshear/frigate to v0.13.0-beta6
  kubernetes/apps/default/frigate/app/helmrelease.yaml
Labels: area/kubernetes

fix: topo on ingress-nginx instances was not working
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix: enable bot signing commits
  .github/renovate.json5
Labels: area/github

chore: update Renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

Delete .github/renovate-bot.json5
  .github/renovate-bot.json5
Labels: area/github

fix: rename DRY_RUN var on renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

fix: use right config file on renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

chore: update renovate workflow
  .github/workflows/renovate.yaml
Labels: area/github

feat(ansible): add nfsmount config with defaults
  ansible/main/playbooks/cluster-prepare.yaml
  ansible/main/playbooks/files/nfsmount.conf
Labels: area/ansible

fix: use nfs server for cross-seed
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

feat: use pod nfs mounts
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/radarr/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
  kubernetes/apps/default/slskd/app/helmrelease.yaml
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat: remove nfs pvs
  kubernetes/apps/default/frigate/app/kustomization.yaml
  kubernetes/apps/default/frigate/app/nfs-claim.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/media-pvc.yaml
  kubernetes/apps/default/slskd/app/kustomization.yaml
  kubernetes/apps/default/slskd/app/nfs-claim.yaml
Labels: area/kubernetes

fix: remove gatus template on items in monitoring ns
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
  kubernetes/apps/monitoring/grafana/app/gatus.yaml
  kubernetes/apps/monitoring/grafana/app/kustomization.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/config/alertmanager.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/gatus.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/kustomization.yaml
  kubernetes/apps/monitoring/loki/app/gatus.yaml
  kubernetes/apps/monitoring/loki/app/kustomization.yaml
  kubernetes/apps/monitoring/thanos/app/gatus.yaml
  kubernetes/apps/networking/echo-server/app/gatus.yaml
  kubernetes/apps/networking/echo-server/app/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/gatus.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/kustomization.yaml
Labels: area/kubernetes

fix: add flux webhook in gatus
  kubernetes/apps/monitoring/gatus/app/config/config.yaml
  kubernetes/apps/monitoring/thanos/app/kustomization.yaml
Labels: area/kubernetes

feat: deploy rtlamr2mqtt
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
  kubernetes/apps/default/rtlamr2mqtt/app/externalsecret.yaml
  kubernetes/apps/default/rtlamr2mqtt/app/helmrelease.yaml
  kubernetes/apps/default/rtlamr2mqtt/app/kustomization.yaml
  kubernetes/apps/default/rtlamr2mqtt/ks.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/kustomization.yaml
  kubernetes/apps/kube-system/node-feature-discovery/rules/nesdr-rtl-sdr-device.yaml
Labels: area/kubernetes

feat: deploy rtlamr2mqtt
  kubernetes/apps/default/rtlamr2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat: deploy rtlamr2mqtt
  kubernetes/apps/default/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
Labels: area/kubernetes

feat: deploy rtlamr2mqtt
  kubernetes/apps/default/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
Labels: area/kubernetes

feat: deploy rtlamr2mqtt
  kubernetes/apps/default/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
Labels: area/kubernetes

feat: deploy rtlamr2mqtt
  kubernetes/apps/default/rtlamr2mqtt/app/config/rtlamr2mqtt.yaml
Labels: area/kubernetes

chore: update shlink init container
  kubernetes/apps/default/shlink/app/helmrelease.yaml
Labels: area/kubernetes

fix: update sonarr and radarr pushover script
  kubernetes/apps/default/radarr/app/scripts/pushover-notify.sh
  kubernetes/apps/default/sonarr/app/scripts/pushover-notify.sh
  kubernetes/apps/kube-system/system-upgrade-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix: update sonarr and radarr pushover script
  kubernetes/apps/default/radarr/app/scripts/pushover-notify.sh
  kubernetes/apps/default/sonarr/app/scripts/pushover-notify.sh
Labels: area/kubernetes
