Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart cloudnative-pg to 0.19.0
  kubernetes/apps/database/cloudnative-pg/app/helmrelease.yaml
Labels: area/kubernetes

Update cluster.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.12
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.45
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.46
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.1.6
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible-lint to 6.21.1
  requirements.txt
Labels: none

fix(helm): update rook-ceph group to v1.12.6
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: update qbtools and cross-seed config
  kubernetes/apps/default/cross-seed/app/config/config.js
  kubernetes/apps/default/qbittorrent/tools/manage/config/config.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.2
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v51.10.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.2.3
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/coder/code-server to v4.18.0
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes

feat: remove plex auto languages
  archive/kubernetes/apps/default/plex/tools/auto-languages/externalsecret.yaml
  archive/kubernetes/apps/default/plex/tools/auto-languages/helmrelease.yaml
  archive/kubernetes/apps/default/plex/tools/auto-languages/kustomization.yaml
  kubernetes/apps/default/plex/tools/kustomization.yaml
Labels: area/kubernetes

feat: archive kubernetes-csi-addons
  archive/kubernetes/apps/csi-addons-system/csi-addons-controller-manager/ks.yaml
  archive/kubernetes/apps/csi-addons-system/kustomization.yaml
  archive/kubernetes/apps/csi-addons-system/namespace.yaml
  archive/kubernetes/flux/repositories/git/kubernetes-csi-addons.yaml
  archive/kubernetes/flux/repositories/kustomization.yaml
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
Labels: area/kubernetes

fix: disable unused helmrepos
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.4
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-15
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix external pg svc
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 145e7ff
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/kopia/kopia to v0.15.0
  terraform/storage/apps/app_kopia.tf
Labels: area/terraform

feat(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.0.4047
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/radarr-develop to v5.1.1.8195
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.7
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

doc(README): remove typo
  README.md
Labels: none

doc(README): remove typo (#6259)
  README.md
Labels: none

fix(container): update image ghcr.io/onedr0p/home-assistant to v2023.10.5
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

fix: typos and grammatical mistakes in README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: typos and grammatical mistakes in README.md (#6261)
  README.md
Labels: none

feat: archive kyverno
  archive/kubernetes/apps/kyverno/kustomization.yaml
  archive/kubernetes/apps/kyverno/kyverno/app/helmrelease.yaml
  archive/kubernetes/apps/kyverno/kyverno/app/kustomization.yaml
  archive/kubernetes/apps/kyverno/kyverno/ks.yaml
  archive/kubernetes/apps/kyverno/kyverno/policies/kustomization.yaml
  archive/kubernetes/apps/kyverno/kyverno/policies/remove-cpu-limits.yaml
  archive/kubernetes/apps/kyverno/namespace.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/flux/repositories/helm/kustomization.yaml
Labels: area/kubernetes

feat(cross-seed): app template v2
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

feat(echo-server): app template v2
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive intel gpu exporter
  archive/kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/helmrelease.yaml
  kubernetes/apps/kube-system/intel-device-plugin/exporter/kustomization.yaml
  kubernetes/apps/kube-system/intel-device-plugin/ks.yaml
Labels: area/kubernetes

feat: archive flaresolverr
  archive/kubernetes/apps/default/prowlarr/tools/flaresolverr/helmrelease.yaml
  archive/kubernetes/apps/default/prowlarr/tools/flaresolverr/kustomization.yaml
  archive/kubernetes/apps/default/prowlarr/tools/kustomization.yaml
  kubernetes/apps/default/prowlarr/ks.yaml
Labels: area/kubernetes

feat(unpackerr): app template v2
  archive/readme.md
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/default/unpackerr/app/helmrelease.yaml
Labels: area/kubernetes

feat(kubernetes-schemas): app template v2
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart node-feature-discovery to 0.14.3
  kubernetes/apps/kube-system/node-feature-discovery/app/helmrelease.yaml
Labels: area/kubernetes

feat(prowlarr): app template v2
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes
