Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

feat(gatus): app template v2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

feat(gatus): app template v2
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/restic/restic to v0.16.1
  .taskfiles/VolSync/ListJob.tmpl.yaml
  .taskfiles/VolSync/UnlockJob.tmpl.yaml
Labels: none

feat(vector-agent): app template v2
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
Labels: area/kubernetes

feat(vector-agg): app template v2
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-10-25t06-33-25z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

feat(container)!: Update image kube-prometheus-stack to v52
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.13
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.47
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive thelounge
  archive/kubernetes/apps/default/thelounge/app/gatus.yaml
  archive/kubernetes/apps/default/thelounge/app/helmrelease.yaml
  archive/kubernetes/apps/default/thelounge/app/kustomization.yaml
  archive/kubernetes/apps/default/thelounge/app/volsync.yaml
  archive/kubernetes/apps/default/thelounge/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart reloader to 1.0.48
  kubernetes/apps/kube-system/reloader/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image weave-gitops to v4.0.33
  kubernetes/apps/flux-system/weave-gitops/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/jellyfin to 169c515
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/jellyfin to 926e2a9
  kubernetes/apps/default/jellyfin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v52.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart ingress-nginx to 4.8.3
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): don't expose to external
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix(grafana): don't expose to external (#6276)
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

fix: grafana is guarded
  kubernetes/apps/monitoring/grafana/app/gatus.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.1
  .github/workflows/renovate.yaml
Labels: area/github

Added the Contribution Guidelines in README.md
  README.md
Labels: none

feat(github-action)!: Update tj-actions/changed-files action to v40.0.0
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

feat: deploy atuin
  kubernetes/apps/default/atuin/app/externalsecret.yaml
  kubernetes/apps/default/atuin/app/gatus.yaml
  kubernetes/apps/default/atuin/app/helmrelease.yaml
  kubernetes/apps/default/atuin/app/kustomization.yaml
  kubernetes/apps/default/atuin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy atuin
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

fix: rename atuin ingress to sh
  kubernetes/apps/default/atuin/app/helmrelease.yaml
Labels: area/kubernetes

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Create CODE_OF_CONDUCT.md
  .github/CODE_OF_CONDUCT.md
Labels: area/github

feat(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.3.0
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/tautulli to v2.13.2
  kubernetes/apps/default/tautulli/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image kube-prometheus-stack to v52.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

Removed Contribution Guidelines from README.md and placed it in .gihub/CONTRIBUTING.md file
  .github/CONTRIBUTING.md
  README.md
Labels: area/github

feat(container): update image redis to v18.2.0
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart snapshot-validation-webhook to 1.9.0
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
Labels: area/kubernetes

feat!: Upgrade snapshot controller to v2 and remove validating webhook hr
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-controller/kustomization.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/helmrelease.yaml
  kubernetes/apps/kube-system/snapshot-controller/app/snapshot-validation-webhook/kustomization.yaml
Labels: area/kubernetes

feat!: Upgrade snapshot controller to v2 and remove validating webhook hr
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

Update CONTRIBUTING.md
  .github/CONTRIBUTING.md
Labels: area/github

Added the Contribution Guidelines in README.md (#6277)
  .github/CONTRIBUTING.md
Labels: area/github

fix: only run docs workflow on docs
  .github/workflows/publish-docs.yaml
Labels: area/github

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
