Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 54cd775
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/prowlarr-develop to v1.10.2.4064
  kubernetes/apps/default/prowlarr/app/helmrelease.yaml
Labels: area/kubernetes

feat: re-deploy smtp-relay
  archive/kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  archive/kubernetes/apps/default/smtp-relay/app/maddy.conf
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/smtp-relay/app/config/maddy.conf
  kubernetes/apps/default/smtp-relay/app/externalsecret.yaml
  kubernetes/apps/default/smtp-relay/app/helmrelease.yaml
  kubernetes/apps/default/smtp-relay/app/kustomization.yaml
  kubernetes/apps/default/smtp-relay/ks.yaml
Labels: area/kubernetes

fix: update authelia to use cluster smtp-relay
  kubernetes/apps/default/authelia/app/config/configuration.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v53
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: add back kps crds option for flux helmrelease
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix: add httpget probes to qbittorrent
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: revert qb httpget probes
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: increase qb ram to 10Gi
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/miniflux/miniflux to v2.0.50
  kubernetes/apps/default/miniflux/app/helmrelease.yaml
Labels: area/kubernetes

fix: change resources, update sab ingress and add plex httpget probe
  kubernetes/apps/default/frigate/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

fix: qb was broken due to derp
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix: bump k3s to v1.28.3+k3s2
  ansible/kubernetes/inventory/group_vars/all/main.yaml
  ansible/storage/inventory/group_vars/all/main.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/ansible, area/kubernetes

feat(container): update image quay.io/prometheus/node-exporter to v1.7.0
  terraform/storage/apps/app_node_exporter.tf
Labels: area/terraform

fix: add sab to host whitelist
  kubernetes/apps/default/sabnzbd/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image kube-prometheus-stack to v54
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image kube-prometheus-stack to v54.0.1
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart volsync to 0.8.0
  kubernetes/apps/volsync/volsync/app/helmrelease.yaml
Labels: area/kubernetes

feat: add populator-test
  archive/kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
  kubernetes/apps/default/populator-test/app/kustomization.yaml
  kubernetes/apps/default/populator-test/app/pvc.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

feat: add populator-test
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
Labels: area/kubernetes

feat: add populator-test
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
Labels: area/kubernetes

fix(ansible): update community.general to 8.0.2
  requirements.yaml
Labels: none

fix(helm): update chart external-secrets to 0.9.9
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/advplyr/audiobookshelf to v2.5.0
  kubernetes/apps/default/populator-test/app/helmrelease.yaml
Labels: area/kubernetes

feat: destroy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/populator-test/data/claim.yaml
  kubernetes/apps/default/populator-test/data/kustomization.yaml
  kubernetes/apps/default/populator-test/data/volsync.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/data/volsync.yaml
Labels: area/kubernetes

fix(helm): update chart cilium to 1.14.4
  ansible/kubernetes/playbooks/templates/custom-cilium-helmchart.yaml.j2
  kubernetes/apps/kube-system/cilium/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/populator-test/data/volsync.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/data/claim.yaml
  kubernetes/apps/default/populator-test/data/volsync.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/init/claim.yaml
  kubernetes/apps/default/populator-test/init/kustomization.yaml
  kubernetes/apps/default/populator-test/init/volsync.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

fix: update cnpg cluster name in scheduledbackup
  kubernetes/apps/database/cloudnative-pg/cluster/scheduledbackup.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/twin/gatus to v5.7.0
  kubernetes/apps/monitoring/gatus/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart snapshot-controller to 2.0.1
  kubernetes/apps/kube-system/snapshot-controller/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image redis to v18.3.3
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: deploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
  kubernetes/apps/default/populator-test/bootstrap/kustomization.yaml
  kubernetes/apps/default/populator-test/bootstrap/volsync.yaml
  kubernetes/apps/default/populator-test/ks.yaml
Labels: area/kubernetes

feat: undeploy populator-test
  kubernetes/apps/default/kustomization.yaml
  kubernetes/apps/default/populator-test/bootstrap/claim.yaml
Labels: area/kubernetes
