Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"

fix(helm): update chart cert-manager to v1.13.2
  kubernetes/apps/cert-manager/cert-manager/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.3.1
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image docker.io/timberio/vector to v0.33.1
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  terraform/storage/apps/app_vector_agent.tf
Labels: area/kubernetes, area/terraform

fix(container): update image docker.io/jmalloc/echo-server to v0.3.6
  kubernetes/apps/networking/echo-server/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/plex to v1.32.7.7621-871adbd44
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.0.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(helm): update chart grafana to 7.0.2
  kubernetes/apps/monitoring/grafana/app/helmrelease.yaml
Labels: area/kubernetes

feat: archive jellyfin
  archive/kubernetes/apps/default/jellyfin/app/gatus.yaml
  archive/kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  archive/kubernetes/apps/default/jellyfin/app/kustomization.yaml
  archive/kubernetes/apps/default/jellyfin/app/volsync.yaml
  archive/kubernetes/apps/default/jellyfin/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(helm): update chart external-secrets to 0.9.8
  kubernetes/apps/kube-system/external-secrets/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/cloudflare/cloudflared to v2023.10.0
  kubernetes/apps/networking/cloudflared/app/helmrelease.yaml
Labels: area/kubernetes

chore(docs):fixed typos
  archive/kubernetes/apps/default/outline/readme.md
  docs/src/notes/nas.md
  docs/src/notes/proxmox-considerations.md
Labels: none

chore(docs):fixed typos (#6313)
  archive/kubernetes/apps/default/outline/readme.md
  docs/src/notes/nas.md
  docs/src/notes/proxmox-considerations.md
Labels: none

feat(container): update image ghcr.io/autobrr/autobrr to v1.33.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v40.0.2
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

added auto comment workflow
  .github/workflows/auto-comment.yml
Labels: area/github

Update README.md
  README.md
Labels: none

Update README.md (#6316)
  README.md
Labels: none

chore: bump mdbook admonish version
  docs/book.toml
  docs/mdbook-admonish.css
Labels: none

feat(terraform): update terraform cloudflare to 4.18.0
  terraform/kubernetes/cloudflare/.terraform.lock.hcl
  terraform/kubernetes/cloudflare/main.tf
Labels: area/terraform

chore(container): update image ghcr.io/bjw-s/mdbook to 7054bf5
  .github/workflows/publish-docs.yaml
Labels: area/github

feat(container): update image quay.io/minio/minio to release.2023-11-01t01-57-10z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

fix(helm): update chart loki to 5.36.1
  kubernetes/apps/monitoring/loki/app/helmrelease.yaml
Labels: area/kubernetes

fix(github-release): update k3s-io/k3s to v1.28.3+k3s1
  ansible/kubernetes/inventory/group_vars/all/main.yaml
  ansible/storage/inventory/group_vars/all/main.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/agent.yaml
  kubernetes/apps/system-upgrade/system-upgrade-controller/plans/server.yaml
Labels: area/ansible, area/kubernetes

fix: update qb prune logic
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
Labels: area/kubernetes

fix(smartctl-exporter): set max temps to 70°C
  kubernetes/apps/monitoring/smartctl-exporter/app/prometheusrule.yaml
Labels: area/kubernetes

fix: update cross seed config
  kubernetes/apps/default/cross-seed/app/config/config.js
Labels: area/kubernetes

feat(container): update immich group to v1.84.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to be4eca3
  .github/workflows/publish-docs.yaml
Labels: area/github

chore(container): update image ghcr.io/bjw-s/mdbook to 2365b04
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.2
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/onedr0p/home-assistant to v2023.11.0
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart coredns to 1.28.0
  ansible/kubernetes/playbooks/templates/custom-coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

feat(container): update image ghcr.io/onedr0p/qbittorrent to v4.6.0
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
Labels: area/kubernetes

fix(helm): update chart coredns to 1.28.1
  ansible/kubernetes/playbooks/templates/custom-coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix: set cross seed port to 80
  kubernetes/apps/default/cross-seed/app/config/config.js
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix: only search cross seed on tag force-cross-seed
  kubernetes/apps/default/qbittorrent/app/config/completed.sh
Labels: area/kubernetes

fix: remove externalTrafficPolicy refs because Cluster is default
  archive/kubernetes/apps/database/emqx/app/helmrelease.yaml
  archive/kubernetes/apps/default/jellyfin/app/helmrelease.yaml
  kubernetes/apps/database/cloudnative-pg/cluster/service.yaml
  kubernetes/apps/networking/nginx/external/helmrelease.yaml
  kubernetes/apps/networking/nginx/internal/helmrelease.yaml
Labels: area/kubernetes

feat: add lb svc to plex
  kubernetes/apps/default/plex/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image docker.io/filebrowser/filebrowser to v2.26.0
  kubernetes/apps/default/media-browser/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-17
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes
