Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix(container): update image quay.io/minio/minio to release.2023-11-15t20-43-25z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

feat: convert qb to deploy and cephfs
  .taskfiles/VolSync/ReplicationDestination.tmpl.yaml
  kubernetes/apps/default/qbittorrent/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/pvc.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
Labels: area/kubernetes

feat: convert qb to deploy and cephfs
  kubernetes/apps/default/qbittorrent/app/kustomization.yaml
Labels: area/kubernetes

feat: convert qb to deploy and cephfs
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
Labels: area/kubernetes

feat: convert qb to deploy and cephfs
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: convert qb to deploy and cephfs
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

feat: convert qb to deploy and cephfs
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
Labels: area/kubernetes

feat: convert hass to deploy and cephfs
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/qbittorrent/app/volsync.yaml
Labels: area/kubernetes

feat: convert hass to deploy and cephfs
  kubernetes/apps/default/home-assistant/app/helmrelease.yaml
  kubernetes/apps/default/home-assistant/app/pvc.yaml
  kubernetes/apps/default/home-assistant/app/volsync.yaml
  kubernetes/apps/default/home-assistant/code/helmrelease.yaml
Labels: area/kubernetes

feat: convert hass to deploy and cephfs
  kubernetes/apps/default/home-assistant/app/kustomization.yaml
Labels: area/kubernetes

feat: update overseerr volsync config
  kubernetes/apps/default/overseerr/app/volsync.yaml
Labels: area/kubernetes

feat: update overseerr volsync config
  kubernetes/apps/default/overseerr/app/volsync.yaml
Labels: area/kubernetes

feat: update volsync configs across apps
  kubernetes/apps/default/frigate/app/volsync.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
  kubernetes/apps/default/populator-test/app/volsync.yaml
  kubernetes/apps/default/recyclarr/app/volsync.yaml
  kubernetes/apps/default/sabnzbd/app/volsync.yaml
  kubernetes/apps/default/slskd/app/volsync.yaml
  kubernetes/apps/default/tautulli/app/volsync.yaml
  kubernetes/apps/default/zigbee2mqtt/app/volsync.yaml
  kubernetes/apps/default/zwave-js-ui/app/volsync.yaml
Labels: area/kubernetes

feat: convert plex to deploy
  kubernetes/apps/default/plex/app/helmrelease.yaml
  kubernetes/apps/default/plex/app/volsync.yaml
Labels: area/kubernetes

feat: add zot to tf nas
  terraform/storage/apps/.terraform.lock.hcl
  terraform/storage/apps/app_kopia.tf
  terraform/storage/apps/app_minio.tf
  terraform/storage/apps/app_zot.tf
  terraform/storage/apps/templates/kopia.config.tftpl
  terraform/storage/apps/templates/zot.json.tftpl
Labels: area/terraform

feat(container): update image redis to v18.4.0
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

feat: add pull thru cache to k3s config
  ansible/kubernetes/inventory/group_vars/all/main.yaml
Labels: area/ansible

fix(container): update image docker.io/timberio/vector to v0.34.1
  kubernetes/apps/monitoring/vector/app/agent/helmrelease.yaml
  kubernetes/apps/monitoring/vector/app/aggregator/helmrelease.yaml
  terraform/storage/apps/app_vector_agent.tf
Labels: area/kubernetes, area/terraform

feat: archive populator test
  archive/kubernetes/apps/default/audiobookshelf/app/helmrelease.yaml
  archive/kubernetes/apps/default/audiobookshelf/app/kustomization.yaml
  archive/kubernetes/apps/default/audiobookshelf/app/volsync.yaml
  archive/kubernetes/apps/default/audiobookshelf/ks.yaml
  kubernetes/apps/default/kustomization.yaml
Labels: area/kubernetes

fix(helm): update rook-ceph group to v1.12.8
  kubernetes/apps/rook-ceph/rook-ceph/app/helmrelease.yaml
  kubernetes/apps/rook-ceph/rook-ceph/cluster/helmrelease.yaml
Labels: area/kubernetes

fix: add ingress nginx to storage cluster
  storage/flux/repositories/helm/ingress-nginx.yaml
  storage/flux/repositories/helm/kustomization.yaml
Labels: none

fix: remove cf ref in storage cluster
  storage/apps/networking/external-dns/app/kustomization.yaml
Labels: none

fix: disable flux terraform for nas
  ansible/storage/inventory/group_vars/all/main.yaml
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
Labels: area/ansible, area/kubernetes

feat: add zot to storage cluster
  storage/apps/default/kustomization.yaml
  storage/apps/default/namespace.yaml
  storage/apps/default/zot/app/config/config.json
  storage/apps/default/zot/app/helmrelease.yaml
  storage/apps/default/zot/app/kustomization.yaml
  storage/apps/default/zot/ks.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/zot/app/helmrelease.yaml
  storage/apps/networking/nginx/internal/helmrelease.yaml
  storage/apps/networking/nginx/ks.yaml
Labels: none

fix: update storage cluster
  storage/apps/networking/external-dns/app/bind/helmrelease.yaml
Labels: none

fix: update storage cluster
  storage/apps/cert-manager/cert-manager/app/helmrelease.yaml
  storage/apps/default/external-secrets/ks.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/external-dns/app/bind/externalsecret.yaml
Labels: none

fix: update storage cluster
  kubernetes/apps/networking/external-dns/app/bind/externalsecret.yaml
  kubernetes/apps/networking/external-dns/app/bind/helmrelease.yaml
  storage/apps/default/external-dns/app/bind/externalsecret.yaml
  storage/apps/default/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes

fix: update storage cluster
  Taskfile.yaml
  kubernetes/apps/networking/external-dns/app/bind/helmrelease.yaml
  storage/apps/default/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes

fix(github-action): update renovatebot/github-action action to v39.1.3
  .github/workflows/renovate.yaml
Labels: area/github

fix: update storage cluster
  kubernetes/apps/networking/external-dns/app/bind/helmrelease.yaml
  storage/apps/default/external-dns/app/bind/helmrelease.yaml
Labels: area/kubernetes

fix: update storage cluster
  storage/apps/default/kustomization.yaml
  storage/apps/default/smartctl-exporter/app/helmrelease.yaml
  storage/apps/default/smartctl-exporter/app/kustomization.yaml
  storage/apps/default/smartctl-exporter/ks.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/smartctl-exporter/app/helmrelease.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/node-exporter/app/helmrelease.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/kustomization.yaml
  storage/apps/default/node-exporter/app/helmrelease.yaml
  storage/apps/default/smartctl-exporter/app/helmrelease.yaml
  storage/apps/default/vector/app/agent/config/vector.yaml
  storage/apps/default/vector/app/agent/helmrelease.yaml
  storage/apps/default/vector/app/agent/kustomization.yaml
  storage/apps/default/vector/app/agent/patches/kustomizeconfig.yaml
  storage/apps/default/vector/app/agent/rbac.yaml
  storage/apps/default/vector/app/kustomization.yaml
  storage/apps/default/vector/ks.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/kustomization.yaml
  storage/apps/default/minio/app/externalsecret.yaml
  storage/apps/default/minio/app/helmrelease.yaml
  storage/apps/default/minio/app/kustomization.yaml
  storage/apps/default/minio/ks.yaml
Labels: none

fix: update storage cluster
  storage/apps/default/kopia/app/config/repository.config
  storage/apps/default/kopia/app/externalsecret.yaml
  storage/apps/default/kopia/app/helmrelease.yaml
  storage/apps/default/kopia/app/kustomization.yaml
  storage/apps/default/kopia/ks.yaml
  storage/apps/default/kustomization.yaml
Labels: none

fix: remove storage terraform
  kubernetes/apps/flux-system/tf-controller/terraforms/terraform.yaml
  storage/apps/default/kopia/app/helmrelease.yaml
  storage/apps/default/minio/app/helmrelease.yaml
  terraform/storage/apps/.terraform.lock.hcl
  terraform/storage/apps/app_kopia.tf
  terraform/storage/apps/app_minio.tf
  terraform/storage/apps/app_node_exporter.tf
  terraform/storage/apps/app_smartctl_exporter.tf
  terraform/storage/apps/app_vector_agent.tf
  terraform/storage/apps/app_zot.tf
  terraform/storage/apps/main.tf
  terraform/storage/apps/providers.tf
  terraform/storage/apps/readme.md
  terraform/storage/apps/secret.sops.yaml
  terraform/storage/apps/templates/kopia.config.tftpl
  terraform/storage/apps/templates/vector.yaml.tftpl
  terraform/storage/apps/templates/zot.json.tftpl
  terraform/storage/apps/variables.tf
Labels: area/kubernetes, area/terraform

feat(container): update image kube-prometheus-stack to v54.1.0
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
