Repository onedr0p/home-ops, changes with the labels that .github/labeler.yaml gives for each.
All labels: area/ansible, area/github, area/kubernetes, area/hack, area/terraform

fix(container): update image redis to v18.1.1
  kubernetes/apps/database/redis/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.0.2
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/zwave-js/zwave-js-ui to v9.0.3
  kubernetes/apps/default/zwave-js-ui/app/helmrelease.yaml
Labels: area/kubernetes

feat(container)!: Update image ghcr.io/recyclarr/recyclarr to v6
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/buroa/qbittools to v0.9.5
  kubernetes/apps/default/qbittorrent/tools/manage/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/orphaned/helmrelease.yaml
  kubernetes/apps/default/qbittorrent/tools/reannounce/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/coder/code-server to v4.17.1
  kubernetes/apps/default/home-assistant/app/patches/addons.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-11
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(github-action): update image ghcr.io/bjw-s/mdbook to v0.4.35
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image gha-runner-scale-set to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image gha-runner-scale-set-controller to v0.6.1
  kubernetes/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
Labels: area/kubernetes

Update helmrelease.yaml
  kubernetes/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/minio/minio to release.2023-09-30t07-02-29z
  terraform/storage/apps/app_minio.tf
Labels: area/terraform

chore(deps): update ansible-lint to 6.20.2
  requirements.txt
Labels: none

fix(container): update image ghcr.io/onedr0p/sonarr-develop to v4.0.0.688
  kubernetes/apps/default/sonarr/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to b1a7855
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cloudnative-pg/postgresql to v14.9-12
  kubernetes/apps/database/cloudnative-pg/cluster/cluster.yaml
Labels: area/kubernetes

fix(container): update image prometheus-node-exporter to v4.23.2
  kubernetes/apps/monitoring/node-exporter/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/onedr0p/radarr-develop to v5.0.3.8107
  kubernetes/apps/default/radarr/app/helmrelease.yaml
Labels: area/kubernetes

do not search episodes in season packs
  kubernetes/apps/default/cross-seed/app/config/config.js
Labels: area/kubernetes

Revert "feat(helm): update chart intel-device-plugins-gpu to 0.28.0 (#6101)"
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart intel-device-plugins-gpu to 0.28.0" (#6126)
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart intel-device-plugins-operator to 0.28.0 (#6102)"
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

Revert "feat(helm): update chart intel-device-plugins-operator to 0.28.0" (#6128)
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-gpu to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/gpu/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart intel-device-plugins-operator to 0.28.0
  kubernetes/apps/kube-system/intel-device-plugin/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image quay.io/thanos/thanos to v0.32.4
  kubernetes/apps/monitoring/kube-prometheus-stack/app/helmrelease.yaml
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image thanos to v12.13.6
  kubernetes/apps/monitoring/thanos/app/helmrelease.yaml
Labels: area/kubernetes

feat(helm): update chart coredns to 1.27.0
  ansible/kubernetes/playbooks/templates/custom-coredns-helmchart.yaml.j2
  kubernetes/apps/kube-system/coredns/app/helmrelease.yaml
Labels: area/ansible, area/kubernetes

fix(github-action): update actions/setup-python action to v4.7.1
  .github/workflows/publish-schemas.yaml
Labels: area/github

chore(container): update image ghcr.io/onedr0p/kubernetes-schemas to 977b909
  kubernetes/apps/default/kubernetes-schemas/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update image ghcr.io/autobrr/autobrr to v1.31.0
  kubernetes/apps/default/autobrr/app/helmrelease.yaml
Labels: area/kubernetes

feat(container): update immich group to v1.80.0
  kubernetes/apps/default/immich/app/machine-learning/helmrelease.yaml
  kubernetes/apps/default/immich/app/microservices/helmrelease.yaml
  kubernetes/apps/default/immich/app/server/helmrelease.yaml
  kubernetes/apps/default/immich/app/web/helmrelease.yaml
Labels: area/kubernetes

chore(deps): update ansible-lint to 6.20.3
  requirements.txt
Labels: none

update cross seed config
  kubernetes/apps/default/cross-seed/app/config/config.js
Labels: area/kubernetes

fix(github-action): update tj-actions/changed-files action to v39.2.1
  .github/workflows/helmrepository-sync.yaml
Labels: area/github

fix(container): update image ghcr.io/recyclarr/recyclarr to v6.0.1
  kubernetes/apps/default/recyclarr/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.5.2
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

chore(container): update image ghcr.io/bjw-s/mdbook to e3fc1e7
  .github/workflows/publish-docs.yaml
Labels: area/github

fix(container): update image ghcr.io/cross-seed/cross-seed to v5.5.3
  kubernetes/apps/default/cross-seed/app/helmrelease.yaml
Labels: area/kubernetes

fix(container): update image ghcr.io/koenkk/zigbee2mqtt to v1.33.1
  kubernetes/apps/default/zigbee2mqtt/app/helmrelease.yaml
Labels: area/kubernetes

.github/labeler.yaml:

---
area/ansible:
  - "ansible/**/*"
area/github:
  - ".github/**/*"
area/kubernetes:
  - "kubernetes/**/*"
area/hack:
  - "hack/**/*"
area/terraform:
  - "terraform/**/*"
