Repository onedr0p/home-ops, pull requests merged in 2024-03, with the labels that each got.

#7151 chore(readme): Talos gang woop
  README.md
Labels: area/docs

#7237 chore(renovate): group volsync image and chart
  .github/renovate/groups.json5
Labels: area/github

#7267 Revert "feat(container): update actions runner controller group ( 0.8.3 → 0.9.0 ) (minor)"
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/app/helmrelease.yaml
  kubernetes/main/apps/actions-runner-system/actions-runner-controller/runners/helmrelease.yaml
Labels: area/kubernetes, cluster/main
